@model HeaderViewModel

<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow navbar-static-top navbar-light navbar-brand-center">
    <div class="navbar-wrapper">
        <div class="navbar-header d-md-none pt-1 pb-0">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item d-md-none mr-0"><a href="#" class="mobile-logo">&nbsp;</a></li>
                <li class="nav-item navbar-lottery-mobile justify-content-center align-items-center text-center w-25 @(ViewContext.RouteData.Values["Controller"].ToString() == "Lottery" ? "active" : "")">
                    <a asp-controller="Lottery" asp-action="Index">
                        <img class="img-fluid px-1" src="~/images/@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryTabImage")"/>
                    </a>
                </li>
                <li class="nav-item navbar-price-prediction-mobile justify-content-center align-items-center text-center w-25 @(ViewContext.RouteData.Values["Controller"].ToString() == "PricePrediction" ? "active" : "")">
                    <a asp-controller="PricePrediction" asp-action="Index">
                        <img class="img-fluid d-md-inline-block d-none w-75" src="~/images/@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePredictionTabImage")" />
                        <img class="img-fluid d-md-none d-inline-block w-75" src="~/images/@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePredictionMobileTabImage")" />
                    </a>
                </li>
                <li class="nav-item navbar-slot-mobile justify-content-center align-items-center text-center w-25 @(ViewContext.RouteData.Values["Controller"].ToString() == "Slot" ? "active" : "")" >
                    <a asp-controller="Slot" asp-action="Index">
                        <img class="img-fluid  w-75" src="~/images/@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SlotTabImage")"/>
                    </a>
                </li>
                <li class="dropdown-language nav-item mobile-language">
                    <a class="nav-link pr-0 pb-1" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="shadow-sm flag-icon @Model.Lang.Image"></i>
                        <span class="font-small-3 selected-language d-lg-inline d-none">@Model.Lang.Name</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-flag">
                        @foreach (var lang in Model.Langs)
                        {
                            <a data-id="@lang.Id" class="dropdown-item lang-item" href="#"><i class="flag-icon @lang.Image"></i> @lang.Name</a>
                        }
                    </div>
                </li>
            </ul>
        </div>
        @if (Model.User == null)
        {
            <div class="navbar-header navbar-header-mobile-authentication d-md-none position-static">
                <ul class="nav navbar-nav text-center">
                    <li class="nav-item d-md-none">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs py-0 d-inline-block float-left" href="#"><i class="ft-menu font-large-1"></i></a>
                        <a class="btn btn-sm btn-danger mr-1" asp-controller="Authentication" asp-action="Register">
                            <i class="la la-user-plus"></i>
                            <span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Register")</span>
                        </a>
                        <a class="btn btn-sm btn-white" asp-controller="Authentication" asp-action="LogIn">
                            <i class="la la-sign-in"></i>
                            <span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LogIn")</span>
                        </a>
                    </li>
                </ul>
            </div>

        }
        else
        {
            <div class="navbar-header navbar-header-mobile-authentication d-md-none position-static py-05">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item d-md-none">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs py-0 d-inline-block float-left" href="#"><i class="ft-menu font-large-1"></i></a>
                    </li>
                    <li class="nav-item d-md-none float-right mobile-user-menu">
                        <a class="dropdown-toggle mt-05 float-right black font-medium-1" data-toggle="dropdown">
                            <i class="la la-user"></i>
                            <span class="user-token-amount">@Model.User.TokenAmount.ToString("N0") CPL</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            @if (Model.User.IsAdmin)
                            {
                                <a class="dropdown-item" asp-controller="Admin" asp-action="Index"><i class="la la-user"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Admin")</a>
                                <hr />
                            }
                            <a class="dropdown-item" asp-controller="Dashboard" asp-action="Index"><i class="fas fa-tachometer-alt font-small-4"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</a>
                            <a class="dropdown-item" asp-controller="Profile" asp-action="Security"><i class="la la-key"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Security")</a>
                            <a class="dropdown-item" asp-controller="Profile" asp-action="Index"><i class="la la-user"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Profile")</a>
                            <a class="dropdown-item" asp-controller="Profile" asp-action="KYC"><i class="la la-credit-card"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYC")</a>

                            <hr class="mb-0" />
                            <a class="dropdown-item" href="#" id="logout-confirmation"><i class="la la-power-off"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LogOut")</a>
                        </div>
                    </li>
                </ul>
            </div>
        }
        <div class="navbar-container container center-layout px-0">
            <div class="collapse navbar-collapse" id="navbar-mobile">
               <ul class="nav navbar-nav float-left navbar-left" style="position: fixed; top: 0px">
                    <li class="nav-item">
                        <a class="navbar-brand-desktop text-center pull-up" asp-controller="Home" asp-action="Index">
                            <img class="brand-logo" alt="CPL" src="~/images/logo.png">
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-left navbar-left" style="z-index:-1">
                    <li class="nav-item">
                        <a class="navbar-brand-desktop text-center pull-up" asp-controller="Home" asp-action="Index">
                            <img class="brand-logo" alt="CPL" src="~/images/logo.png">
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-left game-menu">
                    <li class="nav-item navbar-lottery-desktop justify-content-center align-items-center ml-2 pt-0 @(ViewContext.RouteData.Values["Controller"].ToString() == "Lottery" ? "active" : "")">
                        <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Lottery" ? "active" : "")" asp-controller="Lottery" asp-action="Index">
                            <img class="img-fluid px-1" src="~/images/@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryTabImage")" />
                        </a>
                    </li>
                    <li class="nav-item navbar-price-prediction-desktop justify-content-center align-items-center pt-0 @(ViewContext.RouteData.Values["Controller"].ToString() == "PricePrediction" ? "active" : "")">
                        <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "PricePrediction" ? "active" : "")" asp-controller="PricePrediction" asp-action="Index">
                            <img class="img-fluid px-1" src="~/images/@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePredictionTabImage")" />
                        </a>
                    </li>
                    <li class="nav-item navbar-slot-desktop justify-content-center align-items-center pt-0 @(ViewContext.RouteData.Values["Controller"].ToString() == "Slot" ? "active" : "")">
                        <a class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Slot" ? "active" : "")" asp-controller="Slot" asp-action="Index">
                            <img class="img-fluid px-1" src="~/images/@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SlotTabImage")" />
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-right nav-language">
                    <li class="dropdown dropdown-language nav-item">
                        <a class="nav-link pr-0 pb-1" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="shadow-sm flag-icon @Model.Lang.Image "></i>
                            <span class="font-small-3 selected-language d-lg-inline d-none">@Model.Lang.Name</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-flag">
                            @foreach (var lang in Model.Langs)
                            {
                                <a data-id="@lang.Id" class="dropdown-item lang-item" href="#"><i class="flag-icon @lang.Image"></i> @lang.Name</a>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow mb-4" role="navigation" data-menu="menu-wrapper">
    <div class="navbar-container main-menu-content container center-layout" data-menu="menu-container">
        <ul class="nav navbar-nav main-menu-navigation" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item text-center">
                <a class="navbar-brand d-md-none" asp-controller="Home" asp-action="Index">
                    <img class="brand-logo w-50" alt="CPL" src="~/images/logo.png">
                </a>
            </li>
            <li class="dropdown nav-item" data-menu="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
                    <i class="la la-newspaper-o"></i>
                    <span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "AboutCPO")</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-controller="Info" asp-action="WhatIsCryptoLottery"><i class="font-small-3 la la-angle-right"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLottery")</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Info" asp-action="WhatIsCryptoPricePrediction"><i class="font-small-3 la la-angle-right"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoPricePrediction")</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Info" asp-action="WhatIsCryptoCasino"><i class="font-small-3 la la-angle-right"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoCasino")</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Info" asp-action="HowToPlay"><i class="font-small-3 la la-angle-right"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "HowToPlay")</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-bold" asp-controller="Info" asp-action="Campaign">
                    <i class="la la la-bullhorn"></i>
                    <span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Campaign")</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#faq">
                    <i class="la la-question"></i>
                    <span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "FAQ")</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-bold" asp-controller="Contact" asp-action="Index">
                    <i class="la la-envelope"></i>
                    @if (Model.User == null)
                    {
                        <span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Contact")</span>
                    }
                    else
                    {
                        <span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Support")</span>
                    }
                </a>
            </li>
        </ul>
        @if (Model.User != null)
        {
            <ul class="nav navbar-nav main-menu-navigation" data-menu="menu-navigation">
                <li class="dropdown nav-item d-md-block d-none" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link user-menu" href="#" data-toggle="dropdown">
                        <i class="la la-user"></i>
                        <span class="font-weight-bold user-token-amount">@Model.User.TokenAmount.ToString("N0") CPL</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        @if (Model.User.IsAdmin)
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Admin" asp-action="Index"><i class="la la-user"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Admin")</a>
                            </li>
                            <li>
                                <hr class="mt-0" />
                            </li>
                        }
                        <li>
                            <a class="dropdown-item" asp-controller="Dashboard" asp-action="Index"><i class="fas fa-tachometer-alt font-small-4"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="DepositAndWithdraw" asp-action="Withdraw"><i class="la la-mail-forward"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Withdraw")</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="History" asp-action="Game"><i class="la la-history"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "History")</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Profile" asp-action="Security"><i class="la la-key"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Security")</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Profile" asp-action="Index"><i class="la la-user"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Profile")</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Profile" asp-action="KYC"><i class="la la-credit-card"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYC")</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Profile" asp-action="Affiliate"><i class="la la-users"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Affiliate")</a>
                        </li>
                        <li>
                            <hr class="mb-0" />
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" id="logout-confirmation"><i class="la la-power-off"></i>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LogOut")</a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
        else
        {
            <ul class="nav navbar-nav" data-menu="menu-navigation">
                <li class="nav-item d-md-block d-none">
                    <a class="btn btn-sm btn-danger" asp-controller="Authentication" asp-action="Register">
                        <i class="la la-user-plus"></i>
                        <span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Register")</span>
                    </a>
                </li>
                <li class="nav-item d-md-block d-none">
                    <a class="btn btn-sm btn-white" asp-controller="Authentication" asp-action="LogIn" >
                        <i class="la la-sign-in"></i>
                        <span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LogIn")</span>
                    </a>
                </li>
            </ul>
        }
    </div>
</div>
@if (Model.User == null)
{
    <div class="mb-md-0 mb-4"></div>
}
else
{
    <div class="mb-md-0 mb-3"></div>
}
