@model DepositAndWithdrawViewModel

<div id="depositandwithdraw">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="active-tab1" data-toggle="tab" href="#active1" aria-controls="active1" aria-expanded="true">Deposit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="link-tab1" data-toggle="tab" href="#link1" aria-controls="link1" aria-expanded="false">Withdraw</a>
        </li>
    </ul>
    <div class="tab-content px-2 py-1">
        <div role="tabpanel" class="tab-pane active" id="active1" aria-labelledby="active-tab1" aria-expanded="true">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="row">
                                <div class="pt-1 col-md-4 col-12 text-center">
                                    <div class="col-12">
                                        <h4 class="text-uppercase font-weight-bold">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCName")</h4>
                                    </div>
                                    <div class="col-12">
                                        <i class="cc BTC warning font-large-5"></i>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 pt-2">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-lg-9 col-12 pt-1">
                                                    <p id="BTCAddress" class="text-muted mb-0 font-small-3 wallet-address">@Model.BTCHDWalletAddress</p>
                                                </div>
                                                <div class="col-lg-3 col-12">
                                                    <button type="button" class="btn btn-sm  mr-1 mt-1 btn-copy" data-clipboard-target="#BTCAddress"><i class="fas fa-copy"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Copy")</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 pt-2">
                                            <div class="row">
                                                <div class="col-lg-3 col-12">
                                                    <h6 class="text-muted">Available: </h6>
                                                </div>
                                                <div class="col-lg-9 col-12">
                                                    <h6 class="font-weight-bold">@Model.BTCAmount @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCSymbol")</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12 pt-1 text-center">
                                    <img class="img-fluid" src=@Model.BTCQrCodeImage>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="row">
                                <div class="pt-1 col-md-4 col-12 text-center">
                                    <div class="col-12">
                                        <h5 class="mt-2 text-uppercase font-weight-bold">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHName")</h5>
                                    </div>
                                    <div class="col-12">
                                        <i class="cc ETH font-large-5"></i>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 pt-2">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-lg-9 col-12 pt-1">
                                                    <p id="ETHAddress" class="text-muted mb-0 font-small-3 wallet-address">@Model.ETHHDWalletAddress</p>
                                                </div>
                                                <div class="col-lg-3 col-12">
                                                    <button type="button" class="btn btn-sm  mr-1 mt-1 btn-copy" data-clipboard-target="#ETHAddress"><i class="fas fa-copy"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Copy")</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 pt-2">
                                            <div class="row">
                                                <div class="col-lg-3 col-12">
                                                    <h6 class="text-muted">Available: </h6>
                                                </div>
                                                <div class="col-lg-9 col-12">
                                                    <h6 class="font-weight-bold">@Model.ETHAmount @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHSymbol")</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12 pt-1 text-center">
                                    <img class="img-fluid" src=@Model.ETHQrCodeImage>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="link1" role="tabpanel" aria-labelledby="link-tab1" aria-expanded="false">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="panel-withdraw">
                                <p class="mt-2">@Html.Raw(@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCWithdrawWarning"))</p>

                                <form class="form-horizontal form-purchase-token row form-withdraw">
                                    <div class="col-lg-4 col-md-3 col-sm-12 col-12">
                                        <fieldset class="form-label-group mb-0">
                                            <input type="number" name="btc-amount" class="form-control amount-value" value="0" required="" autofocus="" min="0" max="@Model.BTCAmount" step="any">
                                            <label for="btc-amount">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Amount")</label>
                                        </fieldset>
                                        <div class="invalid-feedback amount-error"></div>
                                        <button type="button" class="btn btn-sm  mr-1 mt-1 btn-max"><i class="fas fa-angle-double-up"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Max")</button>
                                        <input type="hidden" value="@Model.BTCAmount" class="max-amount" />
                                    </div>
                                    <div class="col-lg-2 col-md-1 col-sm-12 col-12 mb-1 text-center">
                                        <span class="la la-arrow-right"></span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-1">
                                        <fieldset class="form-label-group mb-0">
                                            <input type="text" class="form-control address-value" name="address-btc" required="" autofocus="">
                                            <label for="address-btc">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Address")</label>
                                        </fieldset>
                                        <div class="invalid-feedback address-error"></div>
                                        <button type="button" class="btn btn-sm  mr-1 mt-1 btn-qrcode"><i class="fas fa-qrcode"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "QRCode")</button>
                                        <input type="file" class="file-qrcode" hidden />
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12 text-center">
                                        <button type="submit" class="btn btn-danger btn-do-withdraw">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Withdraw") <i class="la la-angle-right"></i></button>
                                    </div>
                                    <input type="hidden" class="currency" value="BTC" />
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="panel-withdraw">
                                <hr>
                                <p class="mt-2">@Html.Raw(@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHWithdrawWarning"))</p>

                                <form class="form-horizontal form-purchase-token row form-withdraw">
                                    <div class="col-lg-4 col-md-3 col-sm-12 col-12">
                                        <fieldset class="form-label-group mb-0">
                                            <input type="number" name="amount-eth" class="form-control amount-value" value="0" required="" autofocus="" min="0" max="@Model.ETHAmount" step="any">
                                            <label for="amount-eth">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Amount")</label>
                                        </fieldset>
                                        <div class="invalid-feedback amount-error"></div>
                                        <button type="button" class="btn btn-sm  mr-1 mt-1 btn-max"><i class="fas fa-angle-double-up"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Max")</button>
                                        <input type="hidden" value="@Model.ETHAmount" class="max-amount" />
                                    </div>
                                    <div class="col-lg-2 col-md-1 col-sm-12 col-12 mb-1 text-center">
                                        <span class="la la-arrow-right"></span>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-1">
                                        <fieldset class="form-label-group mb-0">
                                            <input type="text" class="form-control address-value" name="eth-address" required="" autofocus="">
                                            <label for="eth-address">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Address")</label>
                                        </fieldset>
                                        <div class="invalid-feedback address-error"></div>
                                        <button type="button" class="btn btn-sm  mr-1 mt-1 btn-qrcode"><i class="fas fa-qrcode"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "QRCode")</button>
                                        <input type="file" class="file-qrcode" hidden />
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-12 text-center">
                                        <button type="submit" class="btn btn-danger btn-do-withdraw">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Withdraw") <i class="la la-angle-right"></i></button>
                                    </div>
                                    <input type="hidden" class="currency" value="ETH" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
