@model ConfirmExchangeViewModel

<div class="modal" tabindex="-1" role="dialog" id="exchange" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form id="form-exchange" method="POST" action="#" class="needs-validation" novalidate="">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name">Please confirm the transaction!</label>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal form-purchase-token" action="buy-ico.html">
                            <div class="row">
                                <div class="col-md-5 col-12">
                                    <fieldset class="form-label-group mb-0">
                                        <input type="text" class="form-control" id="from-currency" value="@Model.FromAmount" readonly>
                                        <label for="from-currency">@Model.FromCurrency</label>
                                    </fieldset>
                                </div>
                                <div class="col-md-2 col-12 text-center pt-1">
                                    <span class="la la-arrow-right"></span>
                                </div>
                                <div class="col-md-5 col-12">
                                    <fieldset class="form-label-group mb-0">
                                        <input type="text" class="form-control" id="to-currency" value="@Model.ToAmount" readonly>
                                        <label for="to-currency">@Model.ToCurrency</label>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-confirm-exchange" class="btn btn-sm btn-primary">Confirm</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                @Html.HiddenFor(x => x.FromAmount)
                @Html.HiddenFor(x => x.FromCurrency)
                @Html.HiddenFor(x => x.ToAmount)
                @Html.HiddenFor(x => x.ToCurrency)
            </form>
        </div>
    </div>
</div>