@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Exchange");
}
@model ExchangeViewModel

@section styles
    {
    <link href="~/css/dashboard/wallet.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
}

<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-3 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="btn-group top-1"><a class="btn-gradient-secondary btn-sm white" asp-controller="Dashboard" asp-action="Index"><i class="ficon icon-wallet"></i> &nbsp; @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Wallet")</a></div>
                    <div class="btn-group pr-1 top-1"><a class="btn-gradient-secondary btn-sm white" asp-controller="DepositAndWithdraw" asp-action="Index"><i class="fa fa-money-bill-alt"></i> &nbsp;@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DepositAndWithdraw")</a></div>
                    <div class="btn-group pr-1 top-1"><a class="btn-gradient-primary btn-sm white" asp-controller="Exchange" asp-action="Index"><i class="fa fa-exchange-alt"></i> &nbsp;@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Exchange")</a></div>
                    <input type="hidden" value="@Model.BTCToTokenrate" class="btc-token-rate" />
                    <input type="hidden" value="@Model.ETHToBTCRate" class="eth-btc-rate" />
                </div>
            </div>
        </div>

        <div class="content-detached content-left">
            <div class="content-body">
                <div id="wallet">
                    <div class="wallet-table-th d-none d-md-block">
                        <div class="row">
                            <div class="col-md-6 col-12 pt-1">
                                <p class="mt-0 text-capitalize">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Exchange")</p>
                            </div>
                        </div>
                    </div>

                    <!-- BTC session -->
                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-lg-1 col-sm-12 col-12 pt-1">
                                            <div class="media">
                                                <i class="cc BTC mr-2 warning font-large-3"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-12 col-12 pt-1 text-center">
                                            <p>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Balance"):</p>
                                            <h3>@Model.BTCAmount @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCSymbol")</h3>
                                        </div>
                                        <div class="col-lg-3 col-sm-12 col-12 pt-1">
                                            <fieldset class="form-label-group mb-0">
                                                <input type="number" class="form-control from-amount" min="0" required>
                                                <input type="hidden" value="@Model.BTCAmount" class="max-amount" />
                                                <input type="hidden" value="BTC" class="from-currency" />
                                                <label for="from-amount">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCAmount")</label>
                                                <div class="invalid-feedback invalid-amount">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "InvalidAmount")</div>
                                            </fieldset>
                                            <button type="button" for="btc" class="btn btn-sm round mr-1 mt-1 btn-max"><i class="fas fa-angle-double-up"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Max")</button>
                                        </div>
                                        <div class="btn btn-sm round col-lg-1 col-sm-12 col-12 pt-1 mb-1 text-center">
                                            <button type="button" class="btn btn-md round btn-swap"><i class="fas fa-exchange-alt"></i></button>
                                        </div>
                                        <div class="col-lg-3 col-sm-12 col-12 pt-1 mb-1">
                                            <fieldset class="form-label-group mb-0">
                                                <input type="number" class="form-control to-amount" readonly min="0" required>
                                                <input type="hidden" value="@Model.TokenAmount" class="max-amount" />
                                                <input type="hidden" value="CPL" class="to-currency" />
                                                <label for="to-amount">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenAmount")</label>
                                            </fieldset>
                                        </div>
                                        <div class="btc col-lg-2 col-sm-12 col-12 pt-1 text-center">
                                            <button type="button" class="btn btn-gradient-secondary btn-next">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Next")</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- ETH session -->
                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-lg-1 col-sm-12 col-12 pt-1">
                                            <div class="media">
                                                <i class="cc ETH mr-2 font-large-3"></i>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-12 col-12 pt-1 text-center" id="btc-balance">
                                            <p>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Balance"):</p>
                                            <h3>@Model.ETHAmount @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHSymbol")</h3>
                                        </div>
                                        <div class="col-lg-3 col-sm-12 col-12 pt-1">
                                            <fieldset class="form-label-group mb-0">
                                                <input type="number" class="form-control from-amount" min="0" required>
                                                <input type="hidden" value="@Model.ETHAmount" class="max-amount" />
                                                <input type="hidden" value="ETH" class="from-currency" />
                                                <label for="from-amount">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHAmount")</label>
                                                <div class="invalid-feedback invalid-amount">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "InvalidAmount")</div>
                                            </fieldset>
                                            <button type="button" class="btn btn-sm round mr-1 mt-1 btn-max"><i class="fas fa-angle-double-up"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Max")</button>
                                        </div>
                                        <div class="btn-sm round col-lg-1 col-sm-12 col-12 pt-1 mb-1 text-center">
                                            <button type="button" class="btn btn-md round btn-swap"><i class="fas fa-exchange-alt"></i></button>
                                        </div>
                                        <div class="col-lg-3 col-sm-12 col-12 pt-1 mb-1">
                                            <fieldset class="form-label-group mb-0">
                                                <input type="number" class="form-control to-amount" readonly min="0" required>
                                                <input type="hidden" value="@Model.TokenAmount" class="max-amount" />
                                                <input type="hidden" value="CPL" class="to-currency" />
                                                <label for="to-amount">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenAmount")</label>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-2 col-sm-12 col-12 pt-1 text-center">
                                            <button type="button" class="btn btn-gradient-secondary btn-next">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Next")</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="sidebar-detached sidebar-right">
            <div class="sidebar">
                <div id="wallet-sidebar" class="sidebar-content">
                    <div class="row">
                        <p class="pt-1 text-capitalize col-12">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Balance")</p>
                    </div>
                    @await Component.InvokeAsync("TokenBalance")
                    @await Component.InvokeAsync("TokenCalculator")
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/dashboard/cpl.exchange.js"></script>
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/js/dashboard/cpl.tokencalculator.js"></script>
}
