@{
    Layout = "_DashboardLayout";
}

<style>
    input::-webkit-input-placeholder {
        text-align: center;
    }

    input:-moz-placeholder {
        text-align: center;
    }

    input::-moz-placeholder {
        text-align: center;
    }

    input:-ms-input-placeholder {
        text-align: center;
    }
</style>

@model DashboardViewModel
<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row py-4">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <button id="btn-wallet" class="btn btn-primary btn-lg btn-block">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Wallet")
                        </button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <button id="btn-depo-withdr" class="btn btn-primary btn-lg btn-block">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DepositAndWithdraw")
                        </button>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <button id="btn-wallet" class="btn btn-primary btn-lg btn-block">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Exchange")
                        </button>
                    </div>
                </div>
                <div class="container">
                    <div class="input-group input-group-lg col-lg-12 col-md-12 col-sm-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalBalance")</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")" disabled>
                    </div>

                    <div class="input-group mb-3 col-lg-12 col-md-12 col-sm-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")" disabled>
                    </div>

                    <div class="input-group mb-3 col-lg-12 col-md-12 col-sm-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCSymbol")</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")" disabled>
                    </div>

                    <div class="input-group mb-3 col-lg-12 col-md-12 col-sm-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHSymbol")</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")" disabled>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
