@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard");
}
@model DashboardViewModel

@section styles
    {
    <link href="~/css/dashboard/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
}
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h6 class="my-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "AllAsset") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCSymbol")</h6>
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <p><strong>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Balance"): </strong></p>
                                            <h1>@Model.TotalBalance.ToString("#,##0.########") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCSymbol")</h1>
                                            <p class="mb-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Bonus") <strong>+30%</strong> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ExpireIn") 21 @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Days").</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <h6 class="my-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCSymbol") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Amount")</h6>
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body" id="btc-card">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p><strong>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Balance"): </strong></p>
                                                    <h1>@Model.BTCAmount.ToString("#,##0.########")</h1>
                                                    <p class="mb-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Increase") <strong>+10%</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <h6 class="my-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHSymbol") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Amount")</h6>
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body" id="eth-card">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p><strong>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Balance"): </strong></p>
                                                    <h1>@Model.ETHAmount.ToString("#,##0.########")</h1>
                                                    <p class="mb-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "View") <strong>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Transactions")</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <h6 class="my-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Amount")</h6>
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body" id="cpl-card">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p><strong>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Balance"): </strong></p>
                                                    <h1>@Model.TokenAmount.ToString("#,##0.########")</h1>
                                                    <p class="mb-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Check") <strong>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GameHistory")</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <ul class="nav nav-cpl nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link-cpl active-cpl" data-toggle="tab" aria-expanded="true">
                                User profile
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content-cpl px-2 py-1 mb-2">
                        <div role="tabpanel" class="tab-pane-cpl active-cpl" aria-expanded="true">
                            <div class="card mb-0">
                                <div class="card-header border-bottom-card">
                                    <span class="h4 mr-2">My profile</span>

                                    <a href="/Profile/Index#edit-profile-btn" class="btn btn-primary btn-sm"><i class="far fa-edit"></i> Edit</a>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-lg-4 col-md-4 col-12 col-sm-12 mb-0">
                                            <h6 class="text-muted">First name</h6>
                                            <h4>Bin</h4>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-12 col-sm-12">
                                            <h6 class="text-muted">First name</h6>
                                            <h4>Bin</h4>
                                        </div>
                                        <div class="form-group col-lg-4 col-md-4 col-12 col-sm-12">
                                            <h6 class="text-muted">First name</h6>
                                            <h4>Bin</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer card-footer-my-profile"><a href="/Profile">more info <i class="fa fa-angle-right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row match-height">
                <div class="col-xl-8 col-12">
                    <h6 class="my-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BetStatisticChart")</h6>
                    <div class="card pull-up">
                        <div class="card-body">
                            <div id="bet-statistic-chart" class="height-300"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <h6 class="my-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "HoldingPercentage")</h6>
                    <div class="card pull-up">
                        <div class="card-body">
                            <div id="holding-percentage-chart" class="height-300"></div>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("GameHistory")
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/highcharts.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/series-label.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/exporting.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/export-data.js"></script>
    <script src="~/js/dashboard/cpl.dtlang.js"></script>
    <script src="~/js/dashboard/cpl.dashboard.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/cpl.gamehistory.js" asp-append-version="true"></script>
}
