@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard");
}
@model DashboardViewModel

@section styles
    {
    <link href="~/css/dashboard/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
}
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-body">
            @await Component.InvokeAsync("Amount")
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <h6 class="my-2 text-uppercase">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "UserProfile")</h6>
                    <div class="card mb-0">
                        <div class="card-header border-bottom-card">
                            <span class="h4 mr-2 font-weight-bold">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MyProfile")</span>
                            @if (!Model.KYCVerified.HasValue || Model.KYCVerified == false)
                            {
                                <a asp-controller="Profile" asp-action="Index" class="btn btn-primary btn-sm"><i class="far fa-edit"></i> Edit</a>
                            }
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-4 col-md-4 col-12 col-sm-12 mb-0">
                                    <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Name")</p>
                                    <p>
                                        <strong>@Model.Name</strong>
                                    </p>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-12 col-sm-12">
                                    <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Email")</p>
                                    <p>
                                        <strong>@Model.Email</strong>
                                    </p>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-12 col-sm-12">
                                    <p class="text-muted mb-3px font-size-13px">
                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYC")
                                        @if (!Model.KYCVerified.HasValue || Model.KYCVerified == false)
                                        {
                                            <i class="far fa-times-circle text-danger font-small-1"></i>
                                        }
                                        else
                                        {
                                            <i class="fas fa-check-circle text-success"></i>
                                        }
                                    </p>
                                    <p>
                                        <strong>@Model.KYCStatus</strong>
                                            @if (!Model.KYCVerified.HasValue)
                                            {
                                               @Html.Raw(LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ClickHereToChange"))
                                            }
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        @if (Model.KYCVerified == true)
                        {
                            <div class="card-footer p-10px text-center"><a asp-controller="Profile" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MoreInfo")<i class="fa fa-angle-right"></i></a></div>
                        }
                        else
                        {
                            <div class="card-footer p-10px text-center"><a asp-controller="Profile" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ProfileEdit") <i class="fa fa-angle-right"></i></a></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/highcharts.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/series-label.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/exporting.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/export-data.js"></script>
    <script src="~/js/dashboard/cpl.dtlang.js"></script>
    <script src="~/js/dashboard/cpl.dashboard.js" asp-append-version="true"></script>
}
