@{
    Layout = "_DashboardLayout";
}
@model DashboardViewModel

@section styles
    {
    <link href="~/css/dashboard/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-3 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="btn-group float-md-right top-1"><a class="btn-gradient-secondary btn-sm white" asp-controller="Exchange" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Exchange")</a></div>
                    <div class="btn-group float-md-right pr-1 top-1"><a class="btn-gradient-secondary btn-sm white" asp-controller="DepositAndWithdraw" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DepositAndWithdraw")</a></div>
                    <div class="btn-group float-md-right pr-1 top-1"><a class="btn-gradient-primary btn-sm white" asp-controller="Dashboard" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Wallet")</a></div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h6 class="my-2">All asset in BTC</h6>
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-8 col-12">
                                            <p><strong>Your balance:</strong></p>
                                            <h1>@Model.TotalBalance.ToString("#,##0.########") BTC</h1>
                                            <p class="mb-0">Bonus <strong>+30%</strong> expires in 21 days.</p>
                                        </div>
                                        <div class="col-md-4 col-12 text-center text-md-right">
                                            <button type="button" class="btn-gradient-secondary mt-2">Play game <i class="la la-angle-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <h6 class="my-2">BTC Amount</h6>
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body" id="btc-card">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p><strong>Balance:</strong></p>
                                                    <h1>@Model.BTCAmount.ToString("#,##0.########")</h1>
                                                    <p class="mb-0">Increase <strong>+10%</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <h6 class="my-2">ETH Amount</h6>
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body" id="eth-card">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p><strong>Balance:</strong></p>
                                                    <h1>@Model.ETHAmount.ToString("#,##0.########")</h1>
                                                    <p class="mb-0">View <strong>transactions</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <h6 class="my-2">CPL Amount</h6>
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body" id="cpl-card">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <p><strong>Balance:</strong></p>
                                                    <h1>@Model.TokenAmount.ToString("#,##0.########")</h1>
                                                    <p class="mb-0">Check <strong>game history</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row match-height">
                <div class="col-xl-8 col-12">
                    <h6 class="my-2">Bet Statistic Chart</h6>
                    <div class="card pull-up">
                        <div class="card-body">
                            <div id="bet-statistic-chart" class="height-300"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-12">
                    <h6 class="my-2">Holding Percentage</h6>
                    <div class="card pull-up">
                        <div class="card-body">
                            <div id="holding-percentage-chart" class="height-300"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="recent-transactions" class="col-12">
                    <h6 class="my-2">Recent Transactions</h6>
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="">
                                <table id="dt-history" class="table responsive table-hover table-xl mb-0">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Date</th>
                                            <th class="border-top-0">Time</th>
                                            <th class="border-top-0">GameType</th>
                                            <th class="border-top-0">Amount</th>
                                            <th class="border-top-0">Result</th>
                                            <th class="border-top-0">Award</th>
                                            <th class="border-top-0">Balance</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/highcharts.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/series-label.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/exporting.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/export-data.js"></script>
    <script src="~/js/dashboard/cpl.dashboard.js"></script>
}
