@model LotteryViewModel

<div class="modal" tabindex="-1" role="dialog" id="edit-lottery-game" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="form-edit-lottery-game" method="POST" action="#" class="needs-validation" novalidate="">
                <div class="modal-header">
                    <h5 class="modal-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Lottery")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <fieldset class="form-group">
                                <label for="title" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Title")</label>
                                <input name="title" id="title" type="text" value="@Model.Title" class="form-control" required autofocus />
                                <div class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TitleRequired")
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12 pt-1">
                            <fieldset class="form-group">
                                <label for="volume" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NumberOfLotteryTicket")</label>
                                <input name="volume" id="volume" type="number" min="1" value="@Model.Volume" class="form-control" required autofocus />
                                <div class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NumberOfLotteryTicketRequired")
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-12 pt-1">
                            <fieldset class="form-group">
                                <label for="ticket-price" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketPrice")</label>
                                <input name="ticket-price" id="ticket-price" type="number" min="1" value="@Model.UnitPrice" class="form-control" required autofocus />
                                <div class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketPriceRequired")
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-lg-6 col-12">
                            <fieldset class="form-group">
                                <label for="desktop-slide-image">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DesktopSlideImage")</label>
                                @if (!string.IsNullOrEmpty(Model.DesktopSlideImage))
                                {
                                    <input id="desktop-slide-image" type="file" value="@Model.DesktopSlideImage" class="form-control" accept="image/*" name="desktop-slide-image" maxlength="200">
                                }
                                else
                                {
                                    <input id="desktop-slide-image" type="file" value="@Model.DesktopSlideImage" class="form-control" accept="image/*" name="desktop-slide-image" required maxlength="200">
                                }
                                <div class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DesktopSlideImageRequired")
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-12">
                            <fieldset class="form-group">
                                <label for="mobile-slide-image">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MobileSlideImage")</label>
                                @if (!string.IsNullOrEmpty(Model.MobileSlideImage))
                                {
                                    <input id="mobile-slide-image" type="file" value="@Model.MobileSlideImage" class="form-control" accept="image/*" name="mobile-slide-image" maxlength="200">
                                }
                                else
                                {
                                    <input id="mobile-slide-image" type="file" value="@Model.MobileSlideImage" class="form-control" accept="image/*" name="mobile-slide-image" required maxlength="200">
                                }
                                <div class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MobileSlideImageRequired")
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-lg-6 col-12">
                            <fieldset class="form-group">
                                <label for="desktop-listing-image">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DesktopListingImage")</label>
                                @if (!string.IsNullOrEmpty(Model.DesktopListingImage))
                                {
                                    <input id="desktop-listing-image" type="file" value="@Model.DesktopListingImage" class="form-control" accept="image/*" name="desktop-listing-image" maxlength="200">
                                }
                                else
                                {
                                    <input id="desktop-listing-image" type="file" value="@Model.DesktopListingImage" class="form-control" accept="image/*" name="desktop-listing-image" required maxlength="200">
                                }
                                <div class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DesktopListingImageRequired")
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6 col-12">
                            <fieldset class="form-group">
                                <label for="mobile-listing-image">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MobileListingImage")</label>
                                @if (!string.IsNullOrEmpty(Model.MobileListingImage))
                                {
                                    <input id="mobile-listing-image" type="file" value="@Model.MobileListingImage" class="form-control" accept="image/*" name="mobile-listing-image" maxlength="200">
                                }
                                else
                                {
                                    <input id="mobile-listing-image" type="file" value="@Model.MobileListingImage" class="form-control" accept="image/*" name="mobile-listing-image" required maxlength="200">
                                }
                                <div class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MobileListingImageRequired")
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row pt-1">
                        <div class="col-12">
                            <fieldset class="form-group">
                                <label for="prize-image">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeImage")</label>
                                @if (!string.IsNullOrEmpty(Model.PrizeImage))
                                {
                                    <input id="prize-image" type="file" value="@Model.PrizeImage" class="form-control" accept="image/*" name="prize-image" maxlength="200">
                                }
                                else
                                {
                                    <input id="prize-image" type="file" value="@Model.PrizeImage" class="form-control" accept="image/*" name="prize-image" required maxlength="200">
                                }
                                <div class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeImageRequired")
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-12">
                            <h5 class="text-mute font-weight-bold">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Prize")</h5>
                            <hr />
                            <div class="invalid-feedback" id="prize-required">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "AddPrizeRequired")
                            </div>
                            <div id="prize-lottery">
                                @if (Model.LotteryPrizes != null)
                                {
                                    @foreach (var prize in Model.LotteryPrizes)
                                    {
                                        <div class="row pt-1 row-prize">
                                            <div class="col-12">
                                                <h6 id="prize-title"></h6>
                                                <input type="hidden" value="@(Model.LotteryPrizes.IndexOf(prize) + 1)" id="prize-title-id" />
                                            </div>
                                            <div class="col-10">
                                                <div class="row ml-0">
                                                    <div class="col-5 px-0">
                                                        <fieldset class="form-group mb-0">
                                                            <label for="prize-award" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")</label>
                                                            <input name="prize-award" id="prize-award" type="number" min="1" value="@prize.Value" step="1" class="form-control" required />
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeAwardRequired")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-2 m-auto text-center">
                                                        <fieldset class="form-group mb-0">
                                                            <label class="form-title d-block">&nbsp;</label>
                                                            <span aria-hidden="true">×</span>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-5 px-0">
                                                        <fieldset class="form-group mb-0">
                                                            <label for="prize-number-of-ticket" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets")</label>
                                                            <input name="prize-number-of-ticket" id="prize-number-of-ticket" type="number" min="1" step="1" value="@prize.Volume" class="form-control" required />
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeNumberOfTicketRequired")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2 m-auto text-center">
                                                <a class="btn btn-secondary btn-sm text-white p-0 btn-remove-prize d-none"><i class="la la-minus"></i></a>
                                                <a class="btn btn-primary btn-sm text-white p-0 btn-add-prize d-none"><i class="la la-plus"></i></a>
                                            </div>
                                        </div>
                                    }
                                    <div class="row pt-1 row-prize new-prize">
                                        <div class="col-12 blurry-text">
                                            <h6 id="prize-title"></h6>
                                            <input type="hidden" value="@(Model.LotteryPrizes.Count + 1)" id="prize-title-id" />
                                        </div>
                                        <div class="col-10 blurry-text">
                                            <div class="row ml-0">
                                                <div class="col-5 px-0">
                                                    <fieldset class="form-group mb-0">
                                                        <label for="prize-award" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")</label>
                                                        <input name="prize-award" id="prize-award" type="number" min="1" value="0" step="1" class="form-control" required disabled />
                                                        <div class="invalid-feedback">
                                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeAwardRequired")
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-2 m-auto text-center">
                                                    <fieldset class="form-group mb-0">
                                                        <label class="form-title d-block">&nbsp;</label>
                                                        <span aria-hidden="true">×</span>
                                                    </fieldset>
                                                </div>
                                                <div class="col-5 px-0">
                                                    <fieldset class="form-group mb-0">
                                                        <label for="prize-number-of-ticket" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets")</label>
                                                        <input name="prize-number-of-ticket" id="prize-number-of-ticket" type="number" min="1" value="0" step="1" class="form-control" required disabled />
                                                        <div class="invalid-feedback">
                                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeNumberOfTicketRequired")
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 m-auto text-center">
                                            <a class="btn btn-secondary btn-sm text-white p-0 btn-remove-prize d-none"><i class="la la-minus"></i></a>
                                            <a class="btn btn-primary btn-sm text-white p-0 btn-add-prize"><i class="la la-plus"></i></a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row pt-1 row-prize new-prize">
                                        <div class="col-12 blurry-text">
                                            <h6 id="prize-title"></h6>
                                            <input type="hidden" value="1" id="prize-title-id" />
                                        </div>
                                        <div class="col-10 blurry-text">
                                            <div class="row ml-0">
                                                <div class="col-5 px-0">
                                                    <fieldset class="form-group mb-0">
                                                        <label for="prize-award" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")</label>
                                                        <input name="prize-award" id="prize-award" type="number" min="1" value="0" step="1" class="form-control" required disabled />
                                                        <div class="invalid-feedback">
                                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeAwardRequired")
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="col-2 m-auto text-center">
                                                    <fieldset class="form-group mb-0">
                                                        <label class="form-title d-block">&nbsp;</label>
                                                        <span aria-hidden="true">×</span>
                                                    </fieldset>
                                                </div>
                                                <div class="col-5 px-0">
                                                    <fieldset class="form-group mb-0">
                                                        <label for="prize-number-of-ticket" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets")</label>
                                                        <input name="prize-number-of-ticket" id="prize-number-of-ticket" type="number" min="1" value="0" step="1" class="form-control" required disabled />
                                                        <div class="invalid-feedback">
                                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeNumberOfTicketRequired")
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 m-auto text-center">
                                            <a class="btn btn-secondary btn-sm text-white p-0 btn-remove-prize d-none"><i class="la la-minus"></i></a>
                                            <a class="btn btn-primary btn-sm text-white p-0 btn-add-prize"><i class="la la-plus"></i></a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-success btn-sm btn-save-publish">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SaveAndPublish")<i class="la la-external-link font-size-15px"></i></button>
                    <button type="button" class="btn btn-primary btn-sm btn-save">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Save") <i class="la la-save font-size-15px"></i></button>

                    <button type="button" class="btn btn-success btn-sm btn-add-publish">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "AddAndPublish")<i class="la la-external-link font-size-15px"></i></button>
                    <button type="button" class="btn btn-primary btn-sm btn-add">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Add") <i class="la la-plus font-size-15px"></i></button>
                    <button type="button" class="btn btn-secondary btn-sm btn-cancel" data-dismiss="modal">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Cancel")</button>
                </div>
                <input type="hidden" value="@Model.Id" id="lottery-id" />
            </form>
        </div>
    </div>
</div>