@model LotteryViewModel

<div class="modal" tabindex="-1" role="dialog" id="edit-lottery" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="form-edit-lottery" method="POST" action="#" class="needs-validation" novalidate="">
                <div class="modal-header">
                    <h5 class="modal-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Lottery")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                </div>
                <div class="modal-body">
                    <fieldset @(Model.Status == (int)EnumLotteryGameStatus.DEACTIVATED ? "disabled" : "")>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <fieldset class="form-group">
                                    <label for="lottery-category" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryCategory")</label>
                                <select data-value="@Model.LotteryCategoryId" name="lottery-category" id="lottery-category" class="selectpicker" required data-style="btn" title="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PleaseSelect")">
                                        <option class="text-primary font-weight-bold" value="0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CreateNewCategory")</option>
                                        @foreach (var category in Model.LotteryCategories)
                                        {
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback" id="category-msg">
                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryCategoryRequired")
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-12">
                                <fieldset class="form-group">
                                    <label for="title" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Title")</label>
                                <input name="title" id="title" type="text" value="@Model.Title" class="form-control" required autofocus />
                                    <div class="invalid-feedback">
                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TitleRequired")
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12 pt-1">
                                <fieldset class="form-group">
                                    <label for="volume" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NumberOfLotteryTicket")</label>
                                <input name="volume" id="volume" type="number" min="1" value="@Model.Volume" class="form-control" required autofocus />
                                    <div class="invalid-feedback">
                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NumberOfLotteryTicketRequired")
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-12 pt-1">
                                <fieldset class="form-group">
                                    <label for="ticket-price" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketPrice")</label>
                                <input name="ticket-price" id="ticket-price" type="number" min="1" value="@Model.UnitPrice" class="form-control" required autofocus />
                                    <div class="invalid-feedback">
                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketPriceRequired")
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                    <div id="lottery-multilanguage" class="tab-component">
                        <ul class="nav nav-tabs border-0">
                            @foreach (var detail in Model.LotteryDetails)
                            {
                                <li class="nav-item">
                                    <a class="nav-link font-medium-2 font-weight-bold px-2 border-0 @(detail.Lang.Id == Context.Session.GetInt32("LangId").Value ? "active" : "")" id="@detail.Lang.Id-nav-tab" data-toggle="tab" href="#@detail.Lang.Id-nav" aria-controls="@detail.Lang.Id-nav" aria-expanded="true">@detail.Lang.Name</a>
                                </li>
                            }

                        </ul>
                        <div class="tab-content mb-1">
                            @foreach (var detail in Model.LotteryDetails)
                            {
                                <div role="tabpanel" class="tab-pane @(detail.Lang.Id == Context.Session.GetInt32("LangId").Value ? "active" : "")" id="@detail.Lang.Id-nav" aria-labelledby="@detail.Lang.Id-nav-tab" aria-expanded="true">
                                    <div class="card mb-1">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="row pt-1">
                                                    <input id="lang-id" type="hidden" value="@detail.Lang.Id">
                                                    <input id="detail-id" type="hidden" value="@detail.Id">
                                                    <div class="col-lg-6 col-12">
                                                        <fieldset class="form-group">
                                                            <label for="desktop-top-image"><span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DesktopTopImage")</span> <span> ( @detail.Lang.Name )</span></label>
                                                            @if (!string.IsNullOrEmpty(detail.DesktopTopImage))
                                                            {
                                                                <input id="desktop-top-image" type="file" value="@detail.DesktopTopImage" class="form-control" accept="image/*" name="desktop-top-image" maxlength="200">
                                                            }
                                                            else
                                                            {
                                                                <input id="desktop-top-image" type="file" value="@detail.DesktopTopImage" class="form-control" accept="image/*" name="desktop-top-image" required maxlength="200">
                                                            }
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DesktopTopImageRequired")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <fieldset class="form-group">
                                                            <label for="mobile-top-image"><span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MobileTopImage")</span><span> ( @detail.Lang.Name )</span></label>
                                                            @if (!string.IsNullOrEmpty(detail.MobileTopImage))
                                                            {
                                                                <input id="mobile-top-image" type="file" value="@detail.MobileTopImage" class="form-control" accept="image/*" name="mobile-top-image" maxlength="200">
                                                            }
                                                            else
                                                            {
                                                                <input id="mobile-top-image" type="file" value="@detail.MobileTopImage" class="form-control" accept="image/*" name="mobile-top-image" required maxlength="200">
                                                            }
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MobileTopImageRequired")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row pt-1">
                                                    <div class="col-lg-6 col-12">
                                                        <fieldset class="form-group">
                                                            <label for="desktop-listing-image"><span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DesktopListingImage")</span><span> ( @detail.Lang.Name )</span></label>
                                                            @if (!string.IsNullOrEmpty(detail.DesktopListingImage))
                                                            {
                                                                <input id="desktop-listing-image" type="file" value="@detail.DesktopListingImage" class="form-control" accept="image/*" name="desktop-listing-image" maxlength="200">
                                                            }
                                                            else
                                                            {
                                                                <input id="desktop-listing-image" type="file" value="@detail.DesktopListingImage" class="form-control" accept="image/*" name="desktop-listing-image" required maxlength="200">
                                                            }
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DesktopListingImageRequired")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <fieldset class="form-group">
                                                            <label for="mobile-listing-image"><span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MobileListingImage")</span><span> ( @detail.Lang.Name )</span></label>
                                                            @if (!string.IsNullOrEmpty(detail.MobileListingImage))
                                                            {
                                                                <input id="mobile-listing-image" type="file" value="@detail.MobileListingImage" class="form-control" accept="image/*" name="mobile-listing-image" maxlength="200">
                                                            }
                                                            else
                                                            {
                                                                <input id="mobile-listing-image" type="file" value="@detail.MobileListingImage" class="form-control" accept="image/*" name="mobile-listing-image" required maxlength="200">
                                                            }
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MobileListingImageRequired")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row pt-1">
                                                    <div class="col-12">
                                                        <fieldset class="form-group">
                                                            <label for="prize-image"><span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeImage")</span><span> ( @detail.Lang.Name )</span></label>
                                                            @if (!string.IsNullOrEmpty(detail.PrizeImage))
                                                            {
                                                                <input id="prize-image" type="file" value="@detail.PrizeImage" class="form-control" accept="image/*" name="prize-image" maxlength="200">
                                                            }
                                                            else
                                                            {
                                                                <input id="prize-image" type="file" value="@detail.PrizeImage" class="form-control" accept="image/*" name="prize-image" required maxlength="200">
                                                            }
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeImageRequired")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row pt-1">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="Description"><span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Description")</span><span> ( @detail.Lang.Name )</span></label>
                                                            @if (detail.Description != null)
                                                            {
                                                                <textarea class="form-control textarea-maxlength" id="lottery-description" rows="5" name="Description" required @(Model.Status == (int)EnumLotteryGameStatus.DEACTIVATED ? "disabled" : "")>@detail.Description</textarea>
                                                            }
                                                            else
                                                            {
                                                                <textarea class="form-control textarea-maxlength" id="lottery-description" rows="5" name="Description" required @(Model.Status == (int)EnumLotteryGameStatus.DEACTIVATED ? "disabled" : "")></textarea>
                                                            }
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DescriptionRequired")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row pt-2">
                        <fieldset @(Model.Status == (int)EnumLotteryGameStatus.DEACTIVATED ? "disabled" : "")>
                            <div class="col-12">
                                <h5 class="text-mute font-weight-bold">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Prize")</h5>
                                <hr />
                                <div class="invalid-feedback" id="prize-required">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "AddPrizeRequired")
                                </div>
                                <div id="prize-lottery">
                                    @if (Model.LotteryPrizes != null)
                                    {
                                        @foreach (var prize in Model.LotteryPrizes)
                                        {
                                            <div class="row pt-1 row-prize">
                                                <div class="col-12">
                                                    <h6 id="prize-title"></h6>
                                                    <input type="hidden" value="@(Model.LotteryPrizes.IndexOf(prize) + 1)" id="prize-title-id" />
                                                </div>
                                                <div class="col-10">
                                                    <div class="row ml-0">
                                                        <div class="col-5 px-0">
                                                            <fieldset class="form-group mb-0">
                                                                <label for="prize-award" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")</label>
                                                                <input name="prize-award" id="prize-award" type="number" min="1" value="@prize.Value" step="1" class="form-control" required />
                                                                <div class="invalid-feedback">
                                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeAwardRequired")
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-2 m-auto text-center">
                                                            <fieldset class="form-group mb-0">
                                                                <label class="form-title d-block">&nbsp;</label>
                                                                <span aria-hidden="true">×</span>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-5 px-0">
                                                            <fieldset class="form-group mb-0">
                                                                <label for="prize-number-of-ticket" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets")</label>
                                                                <input name="prize-number-of-ticket" id="prize-number-of-ticket" type="number" min="1" step="1" value="@prize.Volume" class="form-control" required />
                                                                <div class="invalid-feedback">
                                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeNumberOfTicketRequired")
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2 m-auto text-center">
                                                    <a class="btn btn-secondary btn-sm text-white p-0 btn-remove-prize d-none"><i class="la la-minus"></i></a>
                                                    <a class="btn btn-primary btn-sm text-white p-0 btn-add-prize d-none"><i class="la la-plus"></i></a>
                                                </div>
                                            </div>
                                        }
                                        <div class="row pt-1 row-prize new-prize">
                                            <div class="col-12 blurry-text">
                                                <h6 id="prize-title"></h6>
                                                <input type="hidden" value="@(Model.LotteryPrizes.Count + 1)" id="prize-title-id" />
                                            </div>
                                            <div class="col-10 blurry-text">
                                                <div class="row ml-0">
                                                    <div class="col-5 px-0">
                                                        <fieldset class="form-group mb-0">
                                                            <label for="prize-award" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")</label>
                                                            <input name="prize-award" id="prize-award" type="number" min="1" value="0" step="1" class="form-control" required disabled />
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeAwardRequired")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-2 m-auto text-center">
                                                        <fieldset class="form-group mb-0">
                                                            <label class="form-title d-block">&nbsp;</label>
                                                            <span aria-hidden="true">×</span>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-5 px-0">
                                                        <fieldset class="form-group mb-0">
                                                            <label for="prize-number-of-ticket" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets")</label>
                                                            <input name="prize-number-of-ticket" id="prize-number-of-ticket" type="number" min="1" value="0" step="1" class="form-control" required disabled />
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeNumberOfTicketRequired")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2 m-auto text-center">
                                                <a class="btn btn-secondary btn-sm text-white p-0 btn-remove-prize d-none"><i class="la la-minus"></i></a>
                                                <a class="btn btn-primary btn-sm text-white p-0 btn-add-prize"><i class="la la-plus"></i></a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row pt-1 row-prize new-prize">
                                            <div class="col-12 blurry-text">
                                                <h6 id="prize-title"></h6>
                                                <input type="hidden" value="1" id="prize-title-id" />
                                            </div>
                                            <div class="col-10 blurry-text">
                                                <div class="row ml-0">
                                                    <div class="col-5 px-0">
                                                        <fieldset class="form-group mb-0">
                                                            <label for="prize-award" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")</label>
                                                            <input name="prize-award" id="prize-award" type="number" min="1" value="0" step="1" class="form-control" required disabled />
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeAwardRequired")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-2 m-auto text-center">
                                                        <fieldset class="form-group mb-0">
                                                            <label class="form-title d-block">&nbsp;</label>
                                                            <span aria-hidden="true">×</span>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-5 px-0">
                                                        <fieldset class="form-group mb-0">
                                                            <label for="prize-number-of-ticket" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets")</label>
                                                            <input name="prize-number-of-ticket" id="prize-number-of-ticket" type="number" min="1" value="0" step="1" class="form-control" required disabled />
                                                            <div class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeNumberOfTicketRequired")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-2 m-auto text-center">
                                                <a class="btn btn-secondary btn-sm text-white p-0 btn-delete-prize d-none"><i class="la la-minus"></i></a>
                                                <a class="btn btn-primary btn-sm text-white p-0 btn-add-prize"><i class="la la-plus"></i></a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-success btn-sm btn-do-edit-publish">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SaveAndPublish")<i class="la la-external-link font-size-15px"></i></button>
                    <button type="button" class="btn btn-primary btn-sm btn-do-edit">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Save") <i class="la la-save font-size-15px"></i></button>

                    <button type="button" class="btn btn-success btn-sm btn-do-add-publish">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SubmitAndPublish")<i class="la la-external-link font-size-15px"></i></button>
                    <button type="button" class="btn btn-primary btn-sm btn-do-add">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Submit") <i class="la la-plus font-size-15px"></i></button>
                    <button type="button" class="btn btn-secondary btn-sm btn-do-cancel" data-dismiss="modal">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Cancel")</button>
                </div>
                <input type="hidden" value="@Model.Id" id="lottery-id" />
            </form>
        </div>
    </div>
</div>
<div id="modal-lottery-category"></div>
