@model LotteryCategoryAdminViewModel

<div class="modal" tabindex="-1" role="dialog" id="edit-lottery-category" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form id="form-edit-lottery-category" method="POST" action="#" class="needs-validation" novalidate="">
                <div class="modal-header">
                    <h5 class="modal-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryCategory")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <fieldset class="form-group">
                                <label for="Name" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Name")</label>
                                <input name="Name" id="Name" type="text" value="@Model.Name" class="form-control" required autofocus />
                                <div class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryCategoryNameRequired")
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <fieldset class="form-group">
                                <label for="Description" class="form-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Description")</label>
                                <input name="Description" id="Description" type="text" value="@Model.Description" class="form-control" />
                                <div class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DescriptionRequired")
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" class="btn btn-primary btn-sm btn-do-add">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Submit")</button>
                    <button type="button" class="btn btn-secondary btn-sm btn-do-cancel" data-dismiss="modal">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Cancel")</button>
                </div>
                <input type="hidden" value="@Model.Id" id="lottery-id" />
            </form>
        </div>
    </div>
</div>