@model LotteryViewModel

<div class="modal" tabindex="-1" role="dialog" id="edit-lottery-game" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryGames")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <p class="text-muted mb-3px font-size-13px">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Title")
                        </p>
                        <p>
                            <strong>@Model?.Title</strong>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="text-muted mb-3px font-size-13px">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NumberOfLotteryTicket")
                        </p><p>

                            <strong>@Model?.Volume</strong>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="text-muted mb-3px font-size-13px">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketPrice")
                        </p><p>
                            <strong>@Model?.UnitPrice</strong>
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="text-muted mb-3px font-size-13px">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SlideImage")
                        </p><p>
                            <a data-toggle="lightbox" data-gallery="document-@Model.Id" href="/images/lottery/@Model?.SlideImage"><i class="fas fa-image"></i></a>
                        </p>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <p class="text-muted mb-3px font-size-13px">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DesktopListingImage")
                                </p><p>
                                    @*<a data-toggle="lightbox" data-gallery="document-@Model.Id" href="/images/lottery/@Model?.DesktopListingImage"><img src="/images/lottery/@Model?.DesktopListingImage" class="img-thumbnail img-fluid border-0" alt="document-@Model?.DesktopListingImage"></a>*@
                                    <a data-toggle="lightbox" data-gallery="document-@Model.Id" href="/images/lottery/@Model?.DesktopListingImage"><i class="fas fa-image"></i></a>
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="text-muted mb-3px font-size-13px">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MobileListingImage")
                                </p><p>
                                    <a data-toggle="lightbox" data-gallery="document-@Model.Id" href="/images/lottery/@Model?.MobileListingImage"><i class="fas fa-image"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <h5 class="text-mute font-weight-bold pt-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Prize")</h5>
                        <hr class="mt-0" />
                        <div id="prize-lottery">
                            @foreach (var prize in Model?.LotteryPrizes)
                            {
                                <div class="row row-prize">
                                    <div class="col-12">
                                        <h6 id="prize-title"></h6>
                                        <input type="number" value="@(Model.LotteryPrizes.IndexOf(prize) + 1)" hidden id="prize-title-id" />
                                    </div>
                                    <div class="col-10">
                                        <div class="row">
                                            <div class="col-5">
                                                <p class="text-muted mb-3px font-size-13px">
                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")
                                                </p><p>
                                                    <strong>@prize.Value</strong>
                                                </p>
                                            </div>
                                            <div class="col-1 m-auto text-center">
                                                <span aria-hidden="true">×</span>
                                            </div>
                                            <div class="col-5">
                                                <p class="text-muted mb-3px font-size-13px">
                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets")
                                                </p><p>
                                                    <strong>@prize.Volume</strong>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-12">
                        <h5 class="text-mute font-weight-bold pt-2">Result lottery</h5>
                        <hr class="mt-0" />
                        <div class="row text-center pl-2 pr-2 pb-2">
                            @foreach (var prize in Model?.LotteryPrizes)
                            {
                                <div class="col-4 mt-2">
                                    <button type="button" class="btn btn-outline-@prize.Color w-100" id="btn-prize@prize.Name">@prize.Name Prize</button>
                                </div>
                            }
                        </div>

                    </div>
                </div>
                <div class="modal-footer text-right">
                </div>
                <input type="number" value="@Model.Id" hidden id="lottery-id" />
            </div>
        </div>
    </div>
