@model LotteryAdminViewModel

<div class="modal" tabindex="-1" id="view-lottery" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Lottery")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3 col-12">
                        <p class="text-muted mb-3px font-size-13px">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryCategory")
                        </p>
                        <p>
                            <strong>@Model.LotteryCategory</strong>
                        </p>
                    </div>
                    <div class="col-sm-3 col-12">
                        <p class="text-muted mb-3px font-size-13px">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Title")
                        </p>
                        <p>
                            <strong>@Model.Title</strong>
                        </p>
                    </div>
                    <div class="col-sm-3 col-12">
                        <p class="text-muted mb-3px font-size-13px">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NumberOfLotteryTicket")
                        </p><p>

                            <strong>@Model.Volume</strong>
                        </p>
                    </div>
                    <div class="col-sm-3 col-12">
                        <p class="text-muted mb-3px font-size-13px">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketPrice")
                        </p><p>
                            <strong>@Model.UnitPrice</strong>
                        </p>
                    </div>
                    <div id="lottery-multilanguage" class="tab-component col-12">
                        <ul class="nav nav-tabs border-0">
                            @foreach (var detail in Model.LotteryDetails)
                            {
                                <li class="nav-item">
                                    <a class="nav-link font-medium-2 font-weight-bold px-2 border-0 @(detail.Lang.Id == Context.Session.GetInt32("LangId").Value ? "active" : "")" id="@detail.Lang.Id-nav-tab" data-toggle="tab" href="#@detail.Lang.Id-nav" aria-controls="@detail.Lang.Id-nav" aria-expanded="true">@detail.Lang.Name</a>
                                </li>
                            }

                        </ul>
                        <div class="tab-content mb-1">
                            @foreach (var detail in Model.LotteryDetails)
                            {
                                <div role="tabpanel" class="tab-pane @(detail.Lang.Id == Context.Session.GetInt32("LangId").Value ? "active" : "")" id="@detail.Lang.Id-nav" aria-labelledby="@detail.Lang.Id-nav-tab" aria-expanded="true">
                                    <div class="card mb-1">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-6 col- col-12">
                                                        <p class="text-muted mb-3px font-size-13px">
                                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DesktopTopImage")
                                                        </p>
                                                        <p>
                                                            <a data-toggle="lightbox" data-gallery="document-view-@detail.Lang.Id-@detail.Id" href="/images/lottery/@detail.DesktopTopImage"><img src="/images/lottery/@detail.DesktopTopImage" class="img-thumbnail img-fluid border-0 w-30" alt="document-view-@detail.Lang.Id-@detail.DesktopTopImage"></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6 col-12">
                                                        <p class="text-muted mb-3px font-size-13px">
                                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MobileTopImage")
                                                        </p>
                                                        <p>
                                                            <a data-toggle="lightbox" data-gallery="document-view-@detail.Lang.Id-@detail.Id" href="/images/lottery/@detail.MobileTopImage"><img src="/images/lottery/@detail.MobileTopImage" class="img-thumbnail img-fluid border-0 w-30" alt="document-view-@detail.Lang.Id-@detail.MobileTopImage"></a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-12">
                                                        <p class="text-muted mb-3px font-size-13px">
                                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DesktopListingImage")
                                                        </p>
                                                        <p>
                                                            <a data-toggle="lightbox" data-gallery="document-view-@detail.Lang.Id-@detail.Id" href="/images/lottery/@detail.DesktopListingImage"><img src="/images/lottery/@detail.DesktopListingImage" class="img-thumbnail img-fluid border-0 w-30" alt="document-view-@detail.Lang.Id-@detail.DesktopListingImage"></a>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-6 col-12">
                                                        <p class="text-muted mb-3px font-size-13px">
                                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MobileListingImage")
                                                        </p>
                                                        <p>
                                                            <a data-toggle="lightbox" data-gallery="document-view-@detail.Lang.Id-@detail.Id" href="/images/lottery/@detail.MobileListingImage"><img src="/images/lottery/@detail.MobileListingImage" class="img-thumbnail img-fluid border-0 w-30" alt="document-view-@detail.Lang.Id-@detail.MobileListingImage"></a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p class="text-muted mb-3px font-size-13px">
                                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PrizeImage")
                                                        </p>
                                                        <p>
                                                            <a data-toggle="lightbox" data-gallery="document-view-@detail.Lang.Id-@detail.Id" href="/images/lottery/@detail.PrizeImage"><img src="/images/lottery/@detail.PrizeImage" class="img-thumbnail img-fluid border-0 w-30" alt="document-view-@detail.Lang.Id-@detail.PrizeImage"></a>
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>

                    <div class="col-12">
                        <h5 class="text-mute font-weight-bold pt-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Prize")</h5>
                        <hr class="mt-0" />
                        <div id="prize-lottery">
                            <div class="row">
                                <div class="col-sm-4 col-12">
                                    @for (var i = 0; i < Model.LotteryPrizes.Count; i++)
                                    {
                                        <div class="row">
                                            <div class="text-center @(Model.Status == (int)EnumLotteryGameStatus.COMPLETED ? "col-4" : "col-6")">
                                                <p class="text-muted mb-3px font-size-13px">
                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")
                                                </p><p>
                                                    <strong>@Model.LotteryPrizes[i].Value.ToString("0.")</strong>
                                                </p>
                                            </div>
                                            <div class="text-center pl-0 pr-0 @(Model.Status == (int)EnumLotteryGameStatus.COMPLETED ? "col-4" : "col-6")">
                                                <p class="text-muted mb-3px font-size-13px">
                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets")
                                                </p><p>
                                                    <strong>@Model.LotteryPrizes[i].Volume</strong>
                                                </p>
                                            </div>
                                            <div class="col-4 text-center @(Model.Status == (int)EnumLotteryGameStatus.COMPLETED ? "" : "d-none")">
                                                <p class="text-muted mb-0 font-size-13px">
                                                    &nbsp;
                                                </p>
                                                <button type="button" class="btn btn-sm btn-outline-secondary w-100 btn-prize pl-sm-auto pr-sm-auto pl-0 pr-0" data-prize-id="@Model.LotteryPrizes[i].Id" id="lottery-prize-id">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Prize") #@(i + 1)</button>
                                            </div>
                                        </div>
                                        <hr />
                                    }
                                </div>
                                <div class="col-sm-8 col-12  @(Model.Status == (int)EnumLotteryGameStatus.COMPLETED ? "" : "d-none")">
                                    <div id="lottery-result"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.Id)
    </div>
