@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GameManagement");
}

@model GameManagementIndexViewModel

@section styles
    {
    <link href="~/js/dashboard/plugins/lightbox/ekko-lightbox.css" rel="stylesheet" />
    <link href="~/css/dashboard/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/js/dashboard/plugins/intl-tel-input/css/intlTelInput.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
    <link href="~/css/dashboard/cpl.admin.game.css" asp-append-version="true" rel="stylesheet" />
}
<div class="app-content container center-layout mt-2 px-0">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block"> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GameManagement")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Dashboard" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</a>
                            </li>
                            <li class="breadcrumb-item active">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GameManagement")
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="tab-component">
                <ul class="nav nav-tabs border-0">
                    <li class="nav-item">
                        <a class="nav-link mobile-tab-name font-medium-2 font-weight-bold active px-2 border-0" id="summary-nav-tab" data-toggle="tab" href="#summary-nav" aria-controls="summary-nav" aria-expanded="true">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Summary")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mobile-tab-name font-medium-2 font-weight-bold px-2 border-0" id="lottery-nav-tab" data-toggle="tab" href="#lottery-nav" aria-controls="lottery-nav" aria-expanded="false">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Lottery")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mobile-tab-name font-medium-2 font-weight-bold px-2 border-0" id="price-prediction-nav-tab" data-toggle="tab" href="#price-prediction-nav" aria-controls="price-prediction-nav" aria-expanded="false">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePrediction")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mobile-tab-name font-medium-2 font-weight-bold px-2 border-0" id="slot-nav-tab" data-toggle="tab" href="#slot-nav" aria-controls="slot-nav" aria-expanded="false">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Slot")</a>
                    </li>
                </ul>
                <div class="tab-content mb-1">
                    <div role="tabpanel" class="tab-pane active" id="summary-nav" aria-labelledby="summary-nav-tab" aria-expanded="true">
                        <div class="card mb-1">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="card col-12 mt-1">
                                        <div class="card-content">
                                            <label class="d-inline-block" for="Category">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TimeRange")</label>
                                            <fieldset class="form-group col-lg-2 col-6 pl-0">
                                                <select name="Category" id="Category" class="selectpicker" data-style="btn " title="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PleaseSelect")">
                                                    @foreach (EnumPeriodInDay period in Enum.GetValues(typeof(EnumPeriodInDay)))
                                                    {
                                                        <option value="@Convert.ToInt32(period)">@(EnumHelper<EnumPeriodInDay>.GetDisplayValue((EnumPeriodInDay)Convert.ToInt32(period)))</option>
                                                    }
                                                </select>
                                            </fieldset>
                                            <div id="GameSummaryStatistic">
                                                @await Component.InvokeAsync("GameSummaryStatistic")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card col-12 mt-1">
                                        <h6 class="my-2 text-uppercase">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "StatisticChart")</h6>
                                        <div id="statistic-chart" class="height-400">
                                            @Html.Hidden("TotalRevenue", LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalRevenue"))
                                            @Html.Hidden("TotalSale", LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalSale"))
                                            @Html.Hidden("PageView", LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PageView"))
                                            @Html.Hidden("TotalPlayers", LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalPlayers"))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("AdminLotteryHistory")

                <div class="row match-height">
                    <div class="col-xl-4 col-12">
                        <div class="card">
                            <div class="card-header">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Revenue")
                            </div>
                            <div class="card-body">
                                <div id="holding-revenue-percentage-chart" class="height-300 "></div>
                                <div id="holding-revenue-percentage-no-assets" class="height-300 row justify-content-center align-items-center d-none">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NoAssets")</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-12">
                        <div class="card">
                            <div class="card-header">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Terminal")
                            </div>
                            <div class="card-body">
                                <div id="holding-terminal-percentage-chart" class="height-300 "></div>
                                <div id="holding-terminal-percentage-no-assets" class="height-300 row justify-content-center align-items-center d-none">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NoAssets")</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("lottery", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Lottery"))
    @Html.Hidden("pricePrediction", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePrediction"))
    @Html.Hidden("revenue", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Revenue"))
    @Html.Hidden("terminal", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Terminal"))
</div>

@section scripts
    {
    <script src="~/js/dashboard/cpl.dtlang.js"></script>
    <script src="~/js/dashboard/plugins/moment.min.js"></script>
    <script src="~/js/dashboard/plugins/lightbox/ekko-lightbox.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/plugins/switchery/switchery.min.js"></script>
    <script src="~/js/dashboard/plugins/intl-tel-input/js/intlTelInput.js"></script>
    <script src="~/js/dashboard/plugins/intl-tel-input/js/utils.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/highcharts.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/series-label.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/exporting.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/export-data.js"></script>
    <script src="~/js/dashboard/plugins/bootstrap-selectpicker.js"></script>
    <script src="~/js/dashboard/cpl.admin.lotteryhistory.viewcomponent.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/cpl.admin.game.js" asp-append-version="true"></script>

}
