@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GameManagement");
}

@model GameManagementIndexViewModel

@section styles
    {
    <link href="~/js/dashboard/plugins/lightbox/ekko-lightbox.css" rel="stylesheet" />
    <link href="~/css/dashboard/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/js/dashboard/plugins/intl-tel-input/css/intlTelInput.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
    <link href="~/css/dashboard/cpl.admin.game.css" asp-append-version="true" rel="stylesheet" />
}
<div class="app-content container center-layout mt-2 px-0">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block"> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GameManagement")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Dashboard" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</a>
                            </li>
                            <li class="breadcrumb-item active">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GameManagement")
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="tab-component">
                <ul class="nav nav-tabs border-0">
                    <li class="nav-item">
                        <a class="nav-link font-medium-2 text-uppercase font-weight-bold px-2 border-0" id="summary-nav-tab" data-toggle="tab" href="#summary-nav" aria-controls="summary-nav" aria-expanded="true">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Summary")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-medium-2 text-uppercase font-weight-bold px-2 border-0" id="lottery-nav-tab" data-toggle="tab" href="#lottery-nav" aria-controls="lottery-nav" aria-expanded="false">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Lottery")</a>
                    </li>
                </ul>
                <div class="tab-content mb-1">
                    <div role="tabpanel" class="tab-pane" id="summary-nav" aria-labelledby="summary-nav-tab" aria-expanded="true">
                        <div class="card mb-1">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <label class="d-inline-block" for="TimeRange">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TimeRange")</label>
                                            <fieldset class="form-group col-lg-2 col-6 pl-0">
                                                <select name="TimeRange" class="selectpicker time-range" data-style="btn" title="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PleaseSelect")">
                                                    @foreach (EnumPeriodInDay period in Enum.GetValues(typeof(EnumPeriodInDay)))
                                                    {
                                                        if (period == EnumPeriodInDay._7D) //Default selected value
                                                        {
                                                            <option selected="selected" value="@Convert.ToInt32(period)">@(EnumHelper<EnumPeriodInDay>.GetDisplayValue((EnumPeriodInDay)Convert.ToInt32(period)))</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@Convert.ToInt32(period)">@(EnumHelper<EnumPeriodInDay>.GetDisplayValue((EnumPeriodInDay)Convert.ToInt32(period)))</option>
                                                        }
                                                    }
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="tab-detail"></div>
                                    <div class="row row-separator">
                                        <div class="col-12">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="card col-lg-4 col-12">
                                            <div class="card-header pl-0">
                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Revenue")
                                            </div>
                                            <div class="card-body">
                                                <div class="height-300 revenue-chart"></div>
                                                <div class="height-300 row justify-content-center align-items-center d-none revenue-no-data">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NoData")</div>
                                            </div>
                                        </div>
                                        <div class="card col-lg-4 col-12">
                                            <div class="card-header pl-0">
                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Device")
                                            </div>
                                            <div class="card-body">
                                                <div class="height-300 device-category-chart"></div>
                                                <div class="height-300 row justify-content-center align-items-center d-none device-category-no-data">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NoData")</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="lottery-nav" aria-labelledby="lottery-nav-tab" aria-expanded="true">
                        <div class="card mb-1">
                            <div class="card-content">
                                <div class="card-body px-0">
                                    <ul class="nav nav-tabs nav-underline">
                                        <li class="nav-item">
                                            <a class="nav-link font-medium-1 font-weight-bold px-2" id="lottery-summary-nav-tab" data-toggle="tab" href="#lottery-summary-nav" aria-controls="lottery-category-nav" aria-expanded="true">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Summary")</a>
                                        </li>
                                        @for (int i = 0; i < Model.LotteryCategories.Count; i++)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link font-medium-1 font-weight-bold px-2 lottery-category-nav-tab" data-lottery-category-id="@Model.LotteryCategories[i].Id" id="lottery-category-nav-tab-@Model.LotteryCategories[i].Id" data-toggle="tab" href="#lottery-category-nav-@Model.LotteryCategories[i].Id" aria-controls="lottery-category-nav" aria-expanded="true">@Model.LotteryCategories[i].Name</a>
                                            </li>
                                        }
                                    </ul>
                                    <div class="tab-content mb-1">
                                        <div role="tabpanel" class="tab-pane" id="lottery-summary-nav" aria-labelledby="lottery-summary-nav-tab" aria-expanded="true">
                                            <div class="card mb-1">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <label class="d-inline-block" for="TimeRange">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TimeRange")</label>
                                                                <fieldset class="form-group col-lg-2 col-6 pl-0">
                                                                    <select name="TimeRange" class="selectpicker time-range" data-style="btn " title="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PleaseSelect")">
                                                                        @foreach (EnumPeriodInDay period in Enum.GetValues(typeof(EnumPeriodInDay)))
                                                                        {
                                                                            if (period == EnumPeriodInDay._7D) //Default selected value
                                                                            {
                                                                                <option selected="selected" value="@Convert.ToInt32(period)">@(EnumHelper<EnumPeriodInDay>.GetDisplayValue((EnumPeriodInDay)Convert.ToInt32(period)))</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@Convert.ToInt32(period)">@(EnumHelper<EnumPeriodInDay>.GetDisplayValue((EnumPeriodInDay)Convert.ToInt32(period)))</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                        <div class="tab-detail"></div>
                                                        <div class="row row-separator">
                                                            <div class="col-12">&nbsp;</div>
                                                        </div>
                                                        <div class="purchased-lottery-summary-history">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="card mb-0">
                                                                        <div class="card-content">
                                                                            <div class="card-header px-0">
                                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryHistory")
                                                                            </div>
                                                                            <div class="card-body px-0 py-0">
                                                                                <table class="table responsive table-hover table-xl mb-0 dt-purchased-lottery-history">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Email")</th>
                                                                                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Status")</th>
                                                                                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NumberOfTicket")</th>
                                                                                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalPurchasePrice")</th>
                                                                                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Title")</th>
                                                                                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PurchaseDateTime")</th>
                                                                                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Details")</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @for (int i = 0; i < Model.LotteryCategories.Count; i++)
                                        {
                                            <div role="tabpanel" class="tab-pane" id="lottery-category-nav-@Model.LotteryCategories[i].Id" aria-labelledby="lottery-category-nav-tab-@Model.LotteryCategories[i].Id" aria-expanded="true">
                                                <div class="card mb-1">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <label class="d-inline-block" for="TimeRange">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TimeRange")</label>
                                                                    <fieldset class="form-group col-lg-2 col-6 pl-0">
                                                                        <select name="TimeRange" data-lottery-category-id="@Model.LotteryCategories[i].Id" class="selectpicker time-range" data-style="btn " title="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PleaseSelect")">
                                                                            @foreach (EnumPeriodInDay period in Enum.GetValues(typeof(EnumPeriodInDay)))
                                                                            {
                                                                                if (period == EnumPeriodInDay._7D) //Default selected value
                                                                                {
                                                                                    <option selected="selected" value="@Convert.ToInt32(period)">@(EnumHelper<EnumPeriodInDay>.GetDisplayValue((EnumPeriodInDay)Convert.ToInt32(period)))</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value="@Convert.ToInt32(period)">@(EnumHelper<EnumPeriodInDay>.GetDisplayValue((EnumPeriodInDay)Convert.ToInt32(period)))</option>
                                                                                }
                                                                            }
                                                                        </select>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                            <div class="tab-detail"></div>
                                                            <div class="row row-separator">
                                                                <div class="col-12">&nbsp;</div>
                                                            </div>
                                                            <div class="purchased-lottery-category-history">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="card mb-0">
                                                                            <div class="card-content">
                                                                                <div class="card-header px-0">
                                                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryHistory")
                                                                                </div>
                                                                                <div class="card-body px-0 py-0">
                                                                                    <table class="table responsive table-hover table-xl mb-0 dt-purchased-lottery-history">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Email")</th>
                                                                                                <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Status")</th>
                                                                                                <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NumberOfTicket")</th>
                                                                                                <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalPurchasePrice")</th>
                                                                                                <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Title")</th>
                                                                                                <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PurchaseDateTime")</th>
                                                                                                <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Details")</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="row row-separator">
                                        <div class="col-12">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="card col-lg-4 col-12">
                                            <div class="card-body">
                                                <p>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Revenue")</p>
                                                <div class="height-300 revenue-chart"></div>
                                                <div class="height-300 row justify-content-center align-items-center d-none revenue-no-data">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NoData")</div>
                                            </div>
                                        </div>
                                        <div class="card col-lg-4 col-12">
                                            <div class="card-body">
                                                <p>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Device")</p>
                                                <div class="height-300 device-category-chart"></div>
                                                <div class="height-300 row justify-content-center align-items-center d-none device-category-no-data">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NoData")</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Hidden("view", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "View"))
                @Html.Hidden("pending", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Pending"))
                @Html.Hidden("active", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Active"))
                @Html.Hidden("completed", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Completed"))
                @Html.Hidden("deactivated", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Deactivated"))
                @Html.HiddenFor(x => x.Tab, new { @id = "tab" })
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/dashboard/plugins/moment.min.js"></script>
    <script src="~/js/dashboard/plugins/lightbox/ekko-lightbox.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/plugins/switchery/switchery.min.js"></script>
    <script src="~/js/dashboard/plugins/intl-tel-input/js/intlTelInput.js"></script>
    <script src="~/js/dashboard/plugins/intl-tel-input/js/utils.js"></script>
    <script src="~/js/dashboard/cpl.dtlang.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/highcharts.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/series-label.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/exporting.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/export-data.js"></script>
    <script src="~/js/dashboard/plugins/bootstrap-selectpicker.js"></script>
    <script src="~/js/dashboard/cpl.admin.game.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/cpl.piechart.js" asp-append-version="true"></script>
}
