@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Admin");
}
@model AdminViewModel

@section styles
    {
    <link href="~/css/dashboard/cpl.admin.css" rel="stylesheet" asp-append-version="true" />
}
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Admin")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Dashboard" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</a>
                            </li>
                            <li class="breadcrumb-item active">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Admin")
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h6 class="my-2 text-uppercase">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "UserManagement")</h6>
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <p><strong>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "AllUsers")</strong></p>
                                <h1>@((Model.TotalUser).ToString("N0"))</h1>
                                <p class="mb-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Total")</p>
                                <div id="search-box">
                                    <div class="form-group row" style="position:absolute; right:21px; top:21px"><label class="col-sm-4 col-form-label text-info">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Search")</label><div class="col-sm-8"><input type="search" id="search-all-user" value="" onkeypress=(admin_search(event)) class="form-control form-control-sm"></div></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                            <span class="float-left"><a asp-controller="Admin" asp-action="AllUser" class="card-link">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ViewMore") <i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <h6 class="my-2 text-uppercase">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Verify")</h6>
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <p><strong>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYC")</strong></p>
                                <h1>@((Model.TotalKYCVerified + Model.TotalKYCPending).ToString("N0"))</h1>
                                <p class="mb-0">@((Model.TotalKYCPending).ToString("N0")) @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "UsersArePending")</p>
                            </div>
                        </div>
                        <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                            <span class="float-left"><a asp-controller="Admin" asp-action="KYCVerify" class="card-link">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ViewMore") <i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <h6 class="my-2 text-uppercase">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "News")</h6>
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <p><strong>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "News")</strong></p>
                                <h1>@(Model.TotalNews.ToString("N0"))</h1>
                                <p class="mb-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Total")</p>
                            </div>
                        </div>
                        <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                            <span class="float-left"><a asp-controller="Admin" asp-action="News" class="card-link">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ViewMore") <i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h6 class="my-2 text-uppercase">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GameManagement")</h6>
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-12">
                                        <p><strong>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryGames")</strong></p>
                                        <h1>@Model.TotalLotteryGame</h1>
                                        <p class="mb-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Total")</p>
                                    </div>
                                    <div class="col-lg-8 col-12">
                                        <div class="row text-center pt-1">
                                            <div class="col-4">
                                                <h6 class="text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Pending")</h6>
                                                <h4>@Model.TotalLotteryGamePending</h4>
                                            </div>
                                            <div class="col-4">
                                                <h6 class="text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Active")</h6>
                                                <h4>@Model.TotalLotteryGameActive</h4>
                                            </div>
                                            <div class="col-4">
                                                <h6 class="text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Completed")</h6>
                                                <h4>@Model.TotalLotteryGameCompleted</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
                            <span class="float-left"><a asp-controller="Admin" asp-action="Lottery" class="card-link">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ViewMore") <i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/dashboard/cpl.admin.js" asp-append-version="true"></script>
}
