@{
    Layout = "_DashboardLayout";
}

@model PricePredictionViewModel

@section styles
    {
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />

    <style>
        #fa-circle-active {
            color: #1EC481;
            font-size: .5rem !important;
        }
        #fa-circle-inactive {
            color: #ff0000;
            font-size: .5rem !important;
        }
    </style>
}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <img src="~/images/banner_13.jpg" class="img-fluid" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8 col-12">
                                        <div id="btc-price-chart">

                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <h1>7183 USD / BTC</h1>
                                            </div>
                                        </div>
                                        <form id="form-price-bet">
                                            <div class="row">
                                                <div class="col-12">
                                                    <fieldset class="form-label-group">
                                                        @*Max value should be user's CPL*@
                                                        <input type="number" name="Amount" class="form-control" min="1" id="Amount" value="0" required autofocus="">
                                                        <label for="Amount">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Amount")</label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button type="button" id="btn-bet-1000" class="btn btn-gray btn-block font-weight-bold">1.000 CPL</button>
                                                </div>
                                                <div class="col-md-4 pl-0 pr-0">
                                                    <button type="button" id="btn-bet-5000" class="btn btn-secondary btn-block font-weight-bold">5.000 CPL</button>
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="button" id="btn-bet-10000" class="btn btn-gray btn-block font-weight-bold">10.000 CPL</button>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:5px;">
                                                <div class="col-md-5 pr-0">
                                                    <button type="button" id="btn-bet-1000" class="btn btn-success btn-block font-weight-bold">UP</button>
                                                </div>
                                                <div class="col-md-2">
                                                    &nbsp;
                                                </div>
                                                <div class="col-md-5 pl-0">
                                                    <button type="button" id="btn-bet-10000" class="btn btn-danger btn-block font-weight-bold">DOWN</button>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:5px;">
                                                <div class="col-12">
                                                    <button type="button" id="btn-bet" class="btn btn-yellow btn-block font-weight-bold">BET</button>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-12">
                                                    <div class="progress progress-cus">
                                                        <div id="up-bar" class="progress-bar bg-success progress-bar-cus" role="progressbar" style="width: @Model.UpPercentage%;" aria-valuenow="@Model.UpPercentage" aria-valuemin="0" aria-valuemax="100"><i class="fas fa-arrow-up"></i> @Model.UpPercentage%</div>
                                                        <div id="down-bar" class="progress-bar bg-danger progress-bar-cus" role="progressbar" style="width: @Model.DownPercentage%;" aria-valuenow="@Model.DownPercentage" aria-valuemin="0" aria-valuemax="100"><i class="fas fa-arrow-down"></i> @Model.DownPercentage%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="recent-transactions" class="col-12">
                    <h6 class="my-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePredictionHistory")</h6>
                    <div class="card">
                        <div class="card-content">
                            <table id="dt-prediction-history" class="table responsive table-hover table-xl mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PurchaseTime")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Bet")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "StartRate")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Amount")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Bonus")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Status")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "JudgmentRate")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "JudgmentTime")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/cpl.dtlang.js"></script>
    <script src="~/js/dashboard/plugins/signalr.js"></script>
    <script src="~/js/dashboard/cpl.priceprediction.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/highcharts.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/exporting.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/export-data.js"></script>
}
