@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePrediction");
}

@model PricePredictionIndexViewModel

@section styles
    {
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/css/dashboard/cpl.priceprediction.css" asp-append-version="true" />
}
<div class="app-content container center-layout mt-2 px-0">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="tab-component">
                @if (Model.PricePredictionTabs.Count > 0)
                {
                    <ul class="nav nav-tabs border-0" id="price-prediction-nav-bar">
                        @for (var i = 0; i < Model.PricePredictionTabs.Count; i++)
                        {
                            <li class="nav-item">
                                <a class="nav-link mobile-tab-name font-medium-2 font-weight-bold px-2 border-0 @(Model.PricePredictionTabs[i].IsActive ? "active" : "")" id="price-prediction-nav-tab-@Model.PricePredictionTabs[i].Id" data-id="@Model.PricePredictionTabs[i].Id"
                                   data-toggle="tab" href="#price-prediction-nav-@Model.PricePredictionTabs[i].Id" aria-controls="price-prediction-nav-@Model.PricePredictionTabs[i].Id" data-is-disabled="@Model.PricePredictionTabs[i].IsDisabled">
                                    @Model.PricePredictionTabs[i].Title
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="tab-content mb-1">
                        @for (var i = 0; i < Model.PricePredictionTabs.Count; i++)
                        {
                            <div role="tabpanel" class="tab-pane @(Model.PricePredictionTabs[i].IsActive ? "active" : "")" id="price-prediction-nav-@Model.PricePredictionTabs[i].Id" aria-labelledby="price-prediction-nav-tab-@Model.PricePredictionTabs[i].Id"
                                   data-is-disabled="@Model.PricePredictionTabs[i].IsDisabled">
                                @if (Model.PricePredictionTabs[i].IsActive)
                                {
                                    @await Component.InvokeAsync("PricePrediction", new PricePredictionViewComponentViewModel { Id = Model.PricePredictionTabs[i].Id, TokenAmount = Model.TokenAmount, PredictedTrend = Model.PricePredictionTabs[i].PredictedTrend, IsDisabled = Model.PricePredictionTabs[i].IsDisabled })
                                }
                            </div>
                        }
                    </div>
                }
            </div>
            @await Component.InvokeAsync("PricePredictionHistory", new PricePredictionHistoryViewComponentViewModel { SysUserId = Model.SysUserId })

        </div>
    </div>
    <input type="hidden" value="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Result")" id="result" />
    <input type="hidden" value="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Price")" id="price" />
    <input type="hidden" value="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Open")" id="open" />
    <input type="hidden" value="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Close")" id="close" />
    <input type="hidden" value="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCPricePredictionChartTitle")" id="btcPricePredictionChartTitle" />
    <input type="hidden" value="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCPricePredictionSeriesName")" id="btcPricePredictionSeriesName" />
</div>

@section scripts
    {
    <script src="~/js/dashboard/plugins/moment.min.js"></script>
    <script src="~/js/dashboard/plugins/signalr.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/highcharts.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/boost.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/exporting.js"></script>
    <script src="~/js/dashboard/plugins/high-charts/no-data-to-display.js"></script>
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/cpl.dtlang.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/cpl.priceprediction.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/cpl.priceprediction.viewcomponent.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/cpl.pricepredictionhistory.viewcomponent.js" asp-append-version="true"></script>
}
