@model HomeViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Home");
}
@section styles{
    <link href="~/css/dashboard/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/cpl.home.css" rel="stylesheet" asp-append-version="true" />
}

<section id="slider-banner">
    <div class="mt-2 content-mobile">
        <div class="owl-carousel owl-theme owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    @if (Model.Slides != null)
                    {
                        @foreach (var slide in Model.Slides)
                        {
                            <div class="owl-item">
                                <a asp-controller="Lottery" asp-action="Index" asp-route-id="@slide.Id"><img src="~/images/lottery/@slide.SlideImage" class="img-fluid img-border" /></a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section id="scroll-game-info">
    <div id="navbar-scroll-game-info" class="content-mobile navbar navbar-shadow mt-1">
        <div class="container">
            <marquee behavior="scroll" scrollamount="5" direction="left" width="100%">
                <p class="clearfix darken-2 text-sm-center mb-0 px-2 container center-layout">
                    @if (Model.Lotteries != null)
                    {
                        @foreach (var lottery in Model.Lotteries)
                        {
                            <span class="d-block d-md-inline-block pr-4">
                                <a asp-controller="Lottery" asp-action="Index" asp-route-id="@lottery.Id">@lottery.Title, @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Phase") @lottery.Phase</a> - 
                                @lottery.NumberOfTicketLeft.ToString("N0") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketsLeft")
                            </span>
                        }
                    }
                </p>
            </marquee>
        </div>
    </div>
</section>

<section id="lottery-game">
    <div class="container owl-carousel owl-theme owl-loaded hidden-mobile mt-1">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                @if (Model.Lotteries != null)
                {
                    @foreach (var lottery in Model.Lotteries)
                    {
                        <div class="owl-item">
                            <div class="card card-game">
                                <div class="card-header card-header-game font-weight-bold">
                                    @lottery.NumberOfTicketLeft.ToString("N0") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketsLeft")
                                </div>
                                <a asp-controller="Lottery" asp-action="Index" asp-route-id="@lottery.Id"><img class="card-img-top card-img-game img-fluid hidden-mobile" src="~/images/lottery/@lottery.DesktopListingImage" /></a>
                                <div class="card-body">
                                    <a asp-controller="Lottery" asp-action="Index" asp-route-id="@lottery.Id" class="btn btn-primary btn-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Buy")</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row content-mobile visible-mobile">
        @if (Model.Lotteries != null)
        {
            @foreach (var lottery in Model.Lotteries)
            {
                <div class="col-12">
                    <div class="card card-game">
                        <a asp-controller="Lottery" asp-action="Index" asp-route-id="@lottery.Id"><img class="card-img-top card-img-game img-fluid visible-mobile" src="~/images/lottery/@lottery.MobileListingImage" /></a>
                        <div class="card-header card-header-game-mobile font-weight-bold">
                            @lottery.NumberOfTicketLeft.ToString("N0") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketsLeft")
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>

@section scripts{
    <script src="~/js/dashboard/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/dashboard/marquee.min.js"></script>
    <script src="~/js/dashboard/cpl.home.js" asp-append-version="true"></script>
}