@model HomeViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Home");
}
@section styles{
    <link href="~/css/dashboard/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/cpl.home.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/dashboard/cpl.sliderbanner.css" rel="stylesheet" asp-append-version="true" />
}

@if (Model.News != null)
{
    <div class="container mt-md-1 mb-md-0 mb-1">
        <a class="hidden-sm text-primary font-medium-3 font-weight-bold" asp-controller="News" asp-action="Index">
            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "News")
        </a>
        <span class="black"> | </span>
        <a asp-controller="News" asp-action="Detail" asp-route-id="@Model.News.Id" class=" black news-link">@Model.News.CreatedDate.ToString("yyyy/MM/dd") @Model.News.Title</a>
    </div>
}

@await Component.InvokeAsync("SliderBanner")

<section id="lottery-game">
    <div class="container d-md-block d-none mt-1">
        <div class="row">
            @if (Model.Lotteries != null)
            {
                @foreach (var lottery in Model.Lotteries)
                {
                    <div class="owl-item col-3">
                        <div class="card card-game">
                            <div class="card-header card-header-game font-weight-bold font-sm-size-15px">
                                @string.Format(@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketsLeft"), @lottery.NumberOfTicketLeft.ToString("N0"))
                            </div>
                            <a asp-controller="Lottery" asp-action="Index" asp-route-id="@lottery.Id" asp-route-lottery-category-id="@lottery.LotteryCategory.Id">
                                @foreach (var detail in lottery.LotteryDetails)
                                {
                                    @if (detail.LangId == Context.Session.GetInt32("LangId").Value)
                                    {
                                        <img class="card-img-top card-img-game img-fluid" src="~/images/lottery/@detail.DesktopListingImage" />
                                    }
                                }
                            </a>
                            <div class="card-body">
                                <a asp-controller="Lottery" asp-action="Index" asp-route-id="@lottery.Id" asp-route-lottery-category-id="@lottery.LotteryCategory.Id" class="btn btn-primary btn-block font-sm-size-15px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Buy")</a>
                            </div>
                        </div>
                    </div>
                }
                if (Model.Lotteries.Count % CPLConstant.LotteryGamePerRow != 0)
                {
                    @for (int i = 0; i < (CPLConstant.LotteryGamePerRow - (Model.Lotteries.Count % CPLConstant.LotteryGamePerRow)); i++)
                    {
                        <div class="owl-item col-3">
                            <div class="card card-game">
                                <div class="card-header card-header-game font-weight-bold bg-secondary disabled text-white-50 font-sm-size-15px">
                                    @string.Format(@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketsLeft"), @"0")
                                </div>
                                <img class="card-img-top card-img-game img-fluid" src="~/images/lottery/coming_soon_lottery.jpg" />
                                <div class="card-body">
                                    <span class="btn disabled bg-secondary text-white-50 btn-block font-sm-size-15px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ComingSoon")</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="d-md-none d-block mb-05">
        @if (Model.Lotteries != null)
        {
            @foreach (var lottery in Model.Lotteries)
            {
                <div class="card card-game mt-05 mb-0">
                    <a asp-controller="Lottery" asp-action="Index" asp-route-id="@lottery.Id">
                        @foreach (var detail in lottery.LotteryDetails)
                        {
                            @if (detail.LangId == Context.Session.GetInt32("LangId").Value)
                            {
                                <img class="card-img-top card-img-game img-fluid visible-mobile" src="~/images/lottery/@detail.MobileListingImage" />
                            }
                        }
                    </a>
                    <div class="card-header card-header-game-mobile font-weight-bold">
                        @string.Format(@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketsLeft"), @lottery.NumberOfTicketLeft.ToString("N0"))
                    </div>
                </div>
            }
        }
    </div>
</section>

@section scripts{
    <script src="~/js/dashboard/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/dashboard/marquee.min.js"></script>
    <script src="~/js/dashboard/cpl.home.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/cpl.sliderbanner.js" asp-append-version="true"></script>
}