@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLottery");
}

@section styles {
    <link href="~/css/dashboard/cpl.whatiscryptolottery.css" rel="stylesheet" asp-append-version="true"/>
}

<div class="app-content container center-layout mt-2 px-0">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLottery")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Home")</a>
                            </li>
                            <li class="breadcrumb-item active">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLottery")
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-header p-0">
                            <img class="img-fluid" src="~/images/info/what_is_lottery_banner.png" />
                            <div class="centered">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLotteryMainTitle")</div>
                        </div>
                        <div class="card-body p-0 py-05 px-05">
                            <div class="row">
                                <div class="col-12 py-3 black text-center">
                                    @Html.Raw(@LangMsgDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLotteryMainContent"))
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-12">
                                    <div class="card sub-card">
                                        <div class="card-header">
                                            @Html.Raw(@LangMsgDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLotteryHighestAwardTitle"))
                                        </div>
                                        <div class="card-body black">
                                            @Html.Raw(@LangMsgDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLotteryHighestAwardContent"))
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="card sub-card">
                                        <div class="card-header">
                                            @Html.Raw(@LangMsgDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLotteryMaximumRateTitle"))
                                        </div>
                                        <div class="card-body black">
                                            @Html.Raw(@LangMsgDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLotteryMaximumRateContent"))
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="card sub-card">
                                        <div class="card-header">
                                            @Html.Raw(@LangMsgDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLotteryLeadingClassTitle"))
                                        </div>
                                        <div class="card-body black">
                                            @Html.Raw(@LangMsgDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "WhatIsCryptoLotteryLeadingClassContent"))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>