<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content">
                <table id="dt-purchased-lottery-history" class="table responsive table-hover table-xl mb-0 dt-purchased-lottery-history">
                    <thead>
                        <tr>
                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Email")</th>
                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Status")</th>
                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NumberOfTicket")</th>
                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalPurchasePrice")</th>
                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Title")</th>
                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PurchaseDateTime")</th>
                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Details")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    @Html.Hidden("view", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "View"))
    @Html.Hidden("pending", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Pending"))
    @Html.Hidden("active", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Active"))
    @Html.Hidden("completed", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Completed"))
    @Html.Hidden("deactivated", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Deactivated"))
</div>

