@model LotteryTicketPurchaseViewModel
@{
    Layout = null;

}

<div class="modal" tabindex="-1" role="dialog" id="purchase-lottery-ticket" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form id="form-purchase-lottery-ticket" method="POST" action="#" class="needs-validation" novalidate="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 text-center" style="font-size: 20px">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PurchaseLotteryConfirm")
                            </div>
                            <div class="col-12 pt-2 pl-4 pr-4">
                                <p> <span class="font-weight-bold">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketPrice"):</span> <span class="pull-right"><i class="cpl-token-grey-sm"></i> @Model.TicketPrice.ToString("#,0")</span> </p>
                                <p> <span class="font-weight-bold">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets"):</span> <span class="pull-right"><i class="fas fa-ticket-alt"></i> @Model.TotalTickets.ToString("#,0")</span> </p>
                                <hr />
                                <p> <span class="font-weight-bold">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalPrice"):</span> <span class="pull-right text-danger"><i class="cpl-token-grey-sm"></i> @Model.TotalPriceOfTickets.ToString("#,0")</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" id="btn-confirm-purchase-lottery-ticket" class="btn btn-sm btn-gradient-primary ml-auto">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Confirm")</button>
                </div>
            </form>
        </div>
    </div>
    <input type="hidden" name="TicketPrice" id="TicketPrice" value="@Model.TicketPrice" />
    <input type="hidden" name="TotalTickets" id="TotalTickets" value="@Model.TotalTickets" />
    <input type="hidden" name="TotalPriceOfTickets" id="TotalPriceOfTickets" value="@Model.TotalPriceOfTickets" />

</div>