@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Lottery");
}
@model LotteryIndexViewModel

@section styles
    {
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
    <link href="~/css/dashboard/cpl.lottery.css" rel="stylesheet" asp-append-version="true" />
}
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card p-lg-1">
                        <img src="~/images/lottery/slide_lottery.jpg" class="img-fluid" alt="Lottery banner">
                    </div>
                </div>
            </div>
            @if (Model.SysUserId.HasValue)
            {
                @await Component.InvokeAsync("LotteryResult")
            }

            <div class="row mb-1">
                <div class="col-lg-6 col-12">
                    <div class="card">
                        <img class="img-fluid" src="~/images/lottery/NEW-HP-01_78.png" />
                    </div>
                </div>
                <div class="col-lg-6 col-12" id="div-buy-lottery">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <form id="form-purchase-lottery" novalidate>
                                    <div class="row mt-1 mb-xl-3 mb-2">
                                        <div class="form-group col-12 text-center font-large-1 font-weight-bold mb-0">
                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PricePerOneTicket")
                                        </div>
                                        <div class="form-group col-12 text-center font-large-1 font-weight-bold mb-1 text-primary">
                                            @Model.UnitPrice.ToString("N0") CPL
                                        </div>
                                    </div>
                                    <div class="row mb-3 text-md-left text-center">
                                        <div class="col-md-6 col-12 font-medium-5 font-weight-bold">
                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalAmount")
                                        </div>
                                        <div class="col-md-6 col-12 text-md-right font-medium-5 font-weight-bold">
                                            <span id="total-amount">@Model.UnitPrice.ToString("N0")</span> CPL
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="form-group col-12">
                                            <input type="number" data-unit-price="@Model.UnitPrice" name="number-of-ticket" class="form-control" id="number-of-ticket" value="1" min="1" max="5000" required aria-describedby="basic-addon4">
                                            <div class="invalid-feedback">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NumberTicketRequired")</div>
                                        </div>
                                        <div class="col-12">
                                            <button type="button" class="btn btn-primary btn-block font-weight-bold" id="btn-purchase-lottery"><i class="fas fa-money-bill-alt"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Purchase")</button>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-12">
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="form-group col-12 text-center font-medium-5 font-weight-bold mb-0">
                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PurchasedTickets")
                                        </div>
                                        <div class="form-group col-12 text-center font-large-2 font-weight-bold mb-0">
                                            <span class="font-weight-bold">@Model.LotteryHistories.Count()</span> / <span class="font-weight-bold">@Model.Volume.ToString("#,###")</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 d-none" id="div-confirm-lottery">
                    <div class="card font-medium-2 pl-2 pr-2 pt-2">
                        <div class="card-header text-center font-large-1 font-weight-bold text-danger text-uppercase">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ConfirmYourTicket")
                        </div>
                        <div class="card-content mt-lg-3">
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-lg-6 col-12 text-left">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketPrice")</div>
                                    <div class="col-lg-6 col-12 text-lg-right font-weight-bold font-medium-4 ticket-price"></div>
                                </div>
                                <div class="row mb-lg-2">
                                    <div class="col-lg-6 col-12 text-left">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets")</div>
                                    <div class="col-lg-6 col-12 text-lg-right font-weight-bold font-medium-4 total-of-tiket"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row text-danger mt-1">
                                <div class="col-lg-6 col-12 text-left font-medium-4">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalPrice")</div>
                                <div class="col-lg-6 col-12 text-lg-right font-weight-bold font-large-1 total-price"></div>
                            </div>
                            <small class="font-italic">
                                <p class="mb-0 mt-14px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "HintConfirmLottery1")</p>
                                <p class="mb-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "HintConfirmLottery2")</p>
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" id="btn-cancel-purchase-lottery-ticket" class="btn btn-secondary btn-block font-medium-3"><i class="fa fa-arrow-left"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Back")</button>
                        </div>
                        <div class="col-6">
                            <button type="button" id="btn-confirm-purchase-lottery-ticket" class="btn btn-primary btn-block font-medium-3">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Confirm") <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 d-none" id="div-thankyou-lottery">
                    <div class="card font-medium-2 pl-2 pr-2 pt-2">
                        <div class="card-header text-center font-large-1 font-weight-bold text-danger text-uppercase">
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ThankYou") <br />
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "YouBought") <span class="total-price"></span>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-lg-6 col-12 text-left">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketPrice")</div>
                                    <div class="col-lg-6 col-12 text-lg-right font-weight-bold font-medium-4 ticket-price"></div>
                                </div>
                                <div class="row mb-lg-2">
                                    <div class="col-lg-6 col-12 text-left">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets")</div>
                                    <div class="col-lg-6 col-12 text-lg-right font-weight-bold font-medium-4 total-of-tiket"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row text-danger mt-1">
                                <div class="col-lg-6 col-12 text-left font-medium-4">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalPrice")</div>
                                <div class="col-lg-6 col-12 text-lg-right font-weight-bold font-large-1 total-price"></div>
                            </div>
                            <p class="mb-0 mt-0 font-italic"><small>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "HintThankYouLottery1")</small></p>
                            <p class="text-primary mb-0 font-italic" id="p-txHashId"></p>
                            <p class="mt-0 mb-0 font-italic"><small>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "HintThankYouLottery2")</small></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-block mb-lg-3">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GoToTopPage")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("LotteryHistory", Model.SysUserId)
        @Html.HiddenFor(x => x.Id)
    </div>
</div>
@section scripts
    {
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/cpl.dtlang.js"></script>
    <script src="~/js/dashboard/cpl.login.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/cpl.lottery.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/cpl.lotteryhistory.viewcomponent.js" asp-append-version="true"></script>
}