@{
    Layout = "_DashboardLayout";
}
@model LotteryGameViewModel

@section styles
    {
    <style>
        .bg-custom {
            line-height: 25px !important;
            padding-top: 25px !important;
            height: 100px !important;
            width: 100px !important;
            margin-top: 0px !important;
            margin-left: 0px !important;
            margin-bottom: 0px !important;
            border-bottom-right-radius: 0px !important;
            border-top-right-radius: 0px !important;
        }

        .card-header-custom {
            text-align: right !important;
        }

        .card-body-custom {
            text-align: right !important;
        }

        .progress-custom {
            height: 3px;
            width: 65%;
            margin-top: 15px;
            margin-left: 15px;
        }

        .card-description {
            font-size: 15px;
            font-weight: 300;
        }

        .small-font {
            font-size: 12px;
        }

        @@media (min-width: 320px) and (max-width: 374px) {
            .progress-custom {
                width: 50%;
            }
        }

        @@media (min-width: 768px) and (max-width: 1023px) {
            .progress-custom {
                width: 50%;
            }
        }

        @@media (min-width: 768px) and (max-width: 1023px) {
            .col-probability {
                max-width: 100%;
                flex: 100%;
            }
        }

        @@media (min-width: 1024px) and (max-width: 1439px) {
            .col-probability {
                max-width: 100%;
                flex: 100%;
            }
        }

        @@media (min-width: 1440px) and (max-width: 1640px) {
            .progress-custom {
                width: 50%;
            }
        }
    </style>
}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body w-100 p-0">
                            <img src="~/images/lottery_banner.jpg" class="img-fluid" alt="Lottery banner">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-sm-3">
                                <div class="card-wrap">
                                    <div class="card-header">
                                        <h1>@Model.Lotteries[0].LotteryHistories.Count() / @Model.Lotteries[0].Volume <span class="card-description text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketCollected")</span></h1>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-description text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryPuchaseNumberSelection")</p>
                                        <form id="form-purchase-lottery">
                                            <div class="form-group row">
                                                <div class="col-md-12 col-sm-12 col-lg-6">
                                                    <fieldset class="form-label-group my-1">
                                                        <input type="number" name="number-of-ticket" class="form-control" id="number-of-ticket" value="0" min="1" max="5000" aria-describedby="basic-addon4">

                                                        <label for="LastName">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TotalOfTickets")</label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-6">
                                                    <button type="button" class="btn btn-gradient-primary my-1" id="btn-purchase-lottery"><i class="fas fa-money-bill-alt"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Purchase")</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="text-muted mb-2 mt-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ProbabilityOfWinning")</h4>
                    <div class="row">
                        @foreach (var loterryPrize in Model.Lotteries[0].LotteryPrizes)
                        {
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <div class="card card-sm-3">
                                    <div class="card-icon bg-custom @loterryPrize.Color"><span class="font-weight-bold">@loterryPrize.Name</span><br /><span class="small-font">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Prize")</span></div>
                                    <div class="card-wrap">
                                        <div class="card-header card-header-custom">
                                            <h4>@loterryPrize.Volume/@Model.Lotteries[0].Volume</h4>
                                        </div>
                                        <div class="card-body card-body-custom">@loterryPrize.Probability %</div>
                                        <div class="progress progress-custom">
                                            <div class="progress-bar bg-warning" style="width:40%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <p class="text-muted mb-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PercentagesInParentheses")</p>
                </div>
                <div class="col-md-5 col-12">
                    <div class="card p-0 mb-1">
                        <img src="~/images/lottery_prize.jpg" alt="Lottery prize" class="card-img-top img-fluid">
                    </div>
                    <p class="text-muted">@Html.Raw(LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NotePrize"))</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/dashboard/cpl.lottery.js"></script>
}
