@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Lottery");
}
@model LotteryGameViewModel

@section styles
    {
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
    <link href="~/css/dashboard/cpl.lottery.css" rel="stylesheet" asp-append-version="true"/>
}
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <div class="card p-lg-1">
                        <img src="~/images/lottery/slide_lottery.jpg" class="img-fluid" alt="Lottery banner">
                    </div>
                </div>
            </div>
            @if (Model.Lotteries != null && Model.Lotteries.Count > 0)
            {
                if (Model.SysUserId.HasValue)
                {
                    @await Component.InvokeAsync("TokenBalance")
                }

                <div class="row mb-1">
                    <div class="col-lg-6 col-12">
                        <div class="card">
                            <img class="img-fluid" src="~/images/lottery/NEW-HP-01_78.png" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="col-12">
                                            <div class="row font-weight-bold">
                                                <div class="col-md-6 col-12">
                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PurchasedTickets")
                                                </div>
                                                <div class="col-md-6 col-12 text-md-right">
                                                    <h1>@Model.Lotteries[0].LotteryHistories.Count() / @Model.Lotteries[0].Volume <span class="card-description text-muted"></span></h1>
                                                </div>
                                            </div>
                                            <div class="row mt-8px">
                                                <div class="progress progress-custom">
                                                    <div class="progress-bar bg-cpl" id="process-lottery" style="width:@Model.PrecentOfPerchasedTickets%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="buy-lottery-bg">
                            <div class="card-content">
                                <div class="card-content">
                                    <div class="card-body p-lg-5">
                                        <form id="form-purchase-lottery">
                                            <div class="form-group row text-white">
                                                <div class="col-12 text-center font-large-2 font-weight-bold mb-5">
                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BuyLottery")
                                                </div>
                                                <div class="col-12">
                                                    <fieldset class="form-label-group">
                                                        <input type="number" name="number-of-ticket" class="form-control" id="number-of-ticket" value="0" min="1" max="5000"  required aria-describedby="basic-addon4">
                                                        <label for="number-of-ticket">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SelectNumberTicket")</label>
                                                    </fieldset>
                                                </div>
                                                <div class="col-12">
                                                    <button type="button" class="btn btn-primary btn-block" id="btn-purchase-lottery"><i class="fas fa-money-bill-alt"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Purchase")</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @if (Model.SysUserId.HasValue)
            {
                <div class="col-12">
                    <h6 class="my-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryHistory")</h6>
                    <div class="card">
                        <div class="card-content">
                            <table id="dt-lottery-history" class="table responsive table-hover table-xl mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CreatedDate")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Phase")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LotteryTicketNumber")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Status")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Award")</th>
                                        <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "UpdatedDate")</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/js/dashboard/cpl.lottery.js" asp-append-version="true"></script>
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/cpl.dtlang.js"></script>
}
