@model TokenBalanceViewModel
@*<div class="card">
        <div class="card-header">
            <h6 class="card-title text-center">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenName")</h6>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <div class="text-center row clearfix mb-2">
                    <div class="col-12">
                        <i class="cpl-token-balance font-large-3 bg-warning bg-glow white rounded-circle p-3 d-inline-block"></i>
                    </div>
                </div>
                <h3 class="text-center">@Model.TokenAmount.ToString("#,##0.########") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol")</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-de mb-0">
                    <tbody>
                        <tr>
                            <td>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenSymbol") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Balance")</td>
                            <td><i class='cpl-token-grey-sm'></i> @Model.TokenAmount.ToString("#,##0.########")</td>
                        </tr>
                        <tr>
                            <td>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenToBTCPrice")</td>
                            <td><i class='cc BTC-alt'></i> @Model.BTCToTokenRate.ToString("#,##0.########")</td>
                        </tr>
                        <tr>
                            <td>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenToETHPrice")</td>
                            <td><i class="cc ETH-alt"></i> @Model.ETHToTokenRate.ToString("#,##0.########")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>*@

@*<div class="row">
        <div class="col-6">
            <div class="col-6">
                <h3>CPL Amount</h3>
                <h3>@Model.TokenAmount.ToString("#,##0.########") CPL</h3>
            </div>
            <div class="col-6">
            </div>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="~/images/lottery/NEW-HP-01_62.png" />
        </div>
    </div>*@
<style>
    .centered {
        /*position: relative;
        top: 19%;
        left: 12%;*/
        -webkit-text-fill-color: red;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
    }

    #img-result-lottery {
        background: url(/images/lottery/new-hp-01_62.png) no-repeat;
        background-size: 100%;
        height: 100%;
        background-position: top;
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-12">
        <section class="card bg-cpl">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="col-12 bg-white" style="display:inline-block; min-height: 82px;">
                                <div class="float-lg-left float-md-none text-lg-left text-center mt-1">
                                    <span class="font-medium-1 font-weight-bold text-danger">CPL Amount</span>
                                    <br/>
                                    <span class="font-large-1 font-weight-bold">@Model.TokenAmount.ToString("#,##0.########") CPL</span>
                                </div>
                                <div class="float-lg-right float-md-none text-lg-right text-center mt-0 mt-lg-2 mb-1 mb-lg-0">
                                    <span class="font-medium-2 font-weight-bold">1 CPL =  0.000001 BTC</span>
                                    <br/>
                                    <span class="font-medium-2 font-weight-bold">1 CPL = 0.00001802 ETH</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-lg-0 mt-2 mt-sm-0">
                            <img class="img-fluid" src="~/images/lottery/NEW-HP-01_62.png" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
@*<div class="row rounded align-items-center font-weight-bold font-medium-1" style="background: #ffd300; padding: 15px">
    <div class="col-lg-6 col-md-6 col-sm-12 rounded" style="background-color: #ffffff; height: 85px">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div>CPL Amount</div>
                <div>@Model.TokenAmount.ToString("#,##0.########") CPL</div>
            </div>
            <br />
            <div class="ccol-lg-8 col-md-8 col-sm-12">
                <div>1 CPL =  0.000001 BTC</div>
                <div>1 CPL = 0.00001802 ETH</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" style="padding-right: 0px">
        <div>
            <img class="img-fluid" src="~/images/lottery/NEW-HP-01_62.png" />
        </div>
    </div>
</div>*@


