@model TokenBalanceViewModel
<div class="row">
    <div class="col-12">
        <section class="card bg-cpl">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="col-12 bg-white txt-box-lottery">
                                <div class="float-lg-left float-md-none text-lg-left text-center mt-1">
                                    <span class="font-medium-1 font-weight-bold text-danger">CPL Amount</span>
                                    <br/>
                                    <span class="font-large-1 font-weight-bold">@Model.TokenAmount.ToString("#,##0.########") CPL</span>
                                </div>
                                <div class="float-lg-right float-md-none text-lg-right text-center mt-0 mt-lg-2 mb-1 mb-lg-0">
                                    <span class="font-medium-2 font-weight-bold">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenToBTCPrice") = @Model.BTCToTokenRate.ToString("#,##0.########") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCSymbol")</span>
                                    <br/>
                                    <span class="font-medium-2 font-weight-bold">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TokenToBTCPrice") = @Model.ETHToTokenRate.ToString("#,##0.########") @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHSymbol")</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mt-lg-0 mt-2 mt-sm-0">
                            <img class="img-fluid d-block" src="~/images/lottery/1.png"/>
                            <div id="img-2" class="font-medium-4 txt-stroke text-center">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ResultTotteryText")</div>
                            <img class="img-fluid d-block" src="~/images/lottery/3.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

