@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NewsDetail");
}
@model NewsViewModel

@section styles{
    <link href="~/css/dashboard/plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/plugins/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/cpl.home.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/dashboard/cpl.news.css" rel="stylesheet" asp-append-version="true" />
}

@await Component.InvokeAsync("SliderBanner")
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-body mt-3">
            <div class="card">
                <div class="card-content">
                    @if (Model.Image != "")
                    {
                        <img src="~/images/news/@Model.Image" class="card-img-top img-fluid" alt="@Model.Title">
                    }
                    <div class="card-body">
                        <h4 class="card-title">@Model.Title</h4>
                        <h6 class="card-subtitle text-muted">@Model.CreatedDate.ToString("MMMM dd, yyyy")</h6>
                        <p class="card-text mt-2">@Html.Raw(Model.Description)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/dashboard/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/dashboard/marquee.min.js"></script>
    <script src="~/js/dashboard/cpl.home.js" asp-append-version="true"></script>
}

