@model PricePredictionViewComponentViewModel

<div class="card mb-1">
    <div class="card-content">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9 col-12 px-sm-1 px-0">
                    <div class="panel panel-primary text-white bg-primary top-right p-1 countdown-clock" style="display:none"></div>
                    <div class="btc-price-chart">
                    </div>
                </div>
                <div class="col-lg-3 col-12 bet">
                    <div class="row">
                        <div class="col-12">
                            <span class="font-medium-4">BTC/USDT</span> <span class="font-large-1 font-weight-bold btc-rate" value="@Model.CurrentBTCRate">@Model.CurrentBTCRateInString</span>
                        </div>
                    </div>
                    <form class="form-bet">
                        <div class="row">
                            <div class="col-12 mt-1">
                                <fieldset class="form-group mb-1">
                                    @*<label for="Amount">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Amount")</label>*@
                                    <div class="input-group">
                                        @if (Model.TokenAmount.HasValue)
                                        {
                                            <input type="number" name="Amount" class="form-control bet-amount" min="1" max="@Model.TokenAmount.Value" value="0" required autofocus="">
                                            <div class="input-group-append">
                                                <span class="input-group-text">CPL</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <input type="number" name="Amount" class="form-control bet-amount" min="1" value="0" required autofocus="">
                                            <div class="input-group-append">
                                                <span class="input-group-text">CPL</span>
                                            </div>
                                        }
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button type="button" data-value="1000" class="btn btn-bet btn-gray btn-block font-weight-bold px-0">1,000</button>
                            </div>
                            <div class="col-4">
                                <button type="button" data-value="5000" class="btn btn-bet btn-gray btn-block font-weight-bold px-0">5,000</button>
                            </div>
                            <div class="col-4">
                                <button type="button" data-value="10000" class="btn btn-bet btn-gray btn-block font-weight-bold px-0">10,000</button>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="btn-group col-12 btn-up-down-group" role="group">
                                <button type="button" data-value="true" class="btn btn-outline-success col-6 btn-up">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "High")
                                </button>
                                <button type="button" data-value="false" class="btn btn-outline-danger col-6 btn-down">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Low")
                                </button>
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-12">
                                <button type="button" class="btn btn-yellow btn-block font-weight-bold btn-confirm-bet">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Bet")</button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6 text-left text-success" id="up-bar-value">@Model.UpPercentage %</div>
                                    <div class="col-6 text-right text-danger" id="down-bar-value">@Model.DownPercentage %</div>
                                </div>
                                <div class="progress progress-cus">
                                    <div id="up-bar" class="progress-bar bg-success progress-bar-cus" role="progressbar" style="width: @Model.UpPercentage%;" aria-valuenow="@Model.UpPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div id="down-bar" class="progress-bar bg-danger progress-bar-cus" role="progressbar" style="width: @Model.DownPercentage%;" aria-valuenow="@Model.DownPercentage" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(x => x.PreviousBtcRate)
                        @Html.HiddenFor(x => x.LowestBtcRate)
                        @Html.Hidden("OpenBettingTime", ((DateTimeOffset)Model.OpenBettingTime).ToUnixTimeMilliseconds())
                        @Html.Hidden("CloseBettingTime", ((DateTimeOffset)Model.CloseBettingTime).ToUnixTimeMilliseconds())
                        @Html.Hidden("ResultTime", ((DateTimeOffset)Model.ResultTime).ToUnixTimeMilliseconds())
                    </form>
                </div>
                <div class="card col-md-3 col-sm-12 bet-confirm mb-0" style="display:none">
                    <div class="card-header text-center font-medium-4 font-weight-bold text-danger text-uppercase">
                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Confirm")
                    </div>
                    <div class="card-content pt-2 pb-3">
                        <div class="col-md-12 col-sm-12 mb-05 px-0">
                            <span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PredictedTrend")</span><span class="font-weight-bold predicted-trend-confirm" style="display:inline; float:right"></span>
                        </div>
                        <div class="col-md-12 col-sm-12 px-0">
                            <span>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BetAmount")</span><span class="font-weight-bold success bet-amount-confirm" style="display:inline; float:right"></span>
                        </div>
                    </div>
                    <div class="card-footer pb-0">
                    </div>
                    <div class="row px-0">
                        <div class="col-6">
                            <button type="button" class="btn btn-back btn-secondary btn-block px-0"><i class="fa fa-arrow-left"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Back")</button>
                        </div>
                        <div class="col-6">
                            <button type="button" data-id="@Model.Id" class="btn btn-confirm btn-primary btn-block px-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Confirm") <i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
