@model AccountForgotPasswordModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ForgotPassword");
}

<div class="content-wrapper mt-3 mb-2">
    <div class="content-body">
        <section id="account-forgot-password">
                <div class="col-xl-3 col-lg-4 col-sm-5 col-12 p-0 mx-auto">
                    <div class="card card-primary mb-0">
                        <div class="card-body">
                            <h5 class="text-center text-capitalize txt-welcome">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ForgotPassword")</h5>
                            <p id="forgot-password-message" class="text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ForgotPasswordDesc")</p>
                            <form id="form-forgot-password" class="form-horizontal form-signin form needs-validation">
                                <fieldset class="form-group">
                                    <label for="Email">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Email")</label>
                                    <input id="Email" class="form-control" name="Email" type="email" tabindex="1" autofocus required />
                                    <div class="invalid-feedback">
                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "EmailRequired")
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <div class="invalid-feedback" id="forgot-password-error">
                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "EmailNotExist")
                                    </div>
                                </div>
                                <button type="submit" id="btn-do-forgot-password" class="btn btn-primary btn-block my-1" tabindex="4">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Send")
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            <input type="hidden" name="captchaMessage" id="captchaMessage" value="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CaptchaMessage")" />
        </section>
    </div>
</div>

@section scripts
    {
    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>
    <script src="~/js/dashboard/cpl.forgotpassword.js" asp-append-version="true"></script>
}

