@model AccountForgotPasswordModel
@{
    Layout = "_Layout";
}

<div class="content-wrapper mt-2 mb-2">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <section id="account-forgot-password" class="flexbox-container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0">
                    <div class="card card-primary mb-0">
                        <div class="card-body">
                            <p class="text-center h5 text-capitalize txt-welcome">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ForgotPassword")</p>
                            <p id="forgot-password-message" class="text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ForgotPasswordDesc")</p>
                            <form id="form-forgot-password" class="form-horizontal form-signin form needs-validation">
                                <fieldset class="form-label-group">
                                    <input id="Email" class="form-control" name="Email" type="email" tabindex="1" autofocus required />
                                    <label for="Email">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Email")</label>
                                </fieldset>
                                <div class="form-group">
                                    <div class="invalid-feedback forgot-password-error">
                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "EmailNotExist")
                                    </div>
                                </div>
                                <button type="submit" id="btn-forgot-password" class="btn btn-primary btn-block my-1" tabindex="4">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Send")
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="captchaMessage" id="captchaMessage" value="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CaptchaMessage")" />
        </section>
    </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////-->
@section scripts
    {
    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>
    <script src="~/js/dashboard/cpl.forgotpassword.js"></script>
}

