@model AccountLoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="~/images/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LogIn")
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/css/dashboard/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/dashboard.min.css" rel="stylesheet" />
    <link href="~/css/dashboard/demo.css" rel="stylesheet" />

    <style type="text/css">
        .btn-warning:hover, .btn-warning:not([disabled]):not(.disabled).active, .btn-warning:not([disabled]):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
            color: #fff;
            background-color: #ffc107;
            border-color: #ffc107;
        }

        .box-captcha {
            margin: 0 auto;
        }

        .g-recaptcha {
            padding: 0 5px 0;
            width: 100%;
        }

            .g-recaptcha > div, .g-recaptcha > div>div>iframe {
                width: 100% !important;
            }

        .logo {
            text-align: center;
        }
    </style>

    <style>
        /*@@media(max-width: 390px) {
            .g-recaptcha {
                margin: 1px;
            }
        }*/
        /*@@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
            #rc-imageselect, .g-recaptcha {
                transform: scale(0.1);
                -webkit-transform: scale(0.1);
                transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
            }
        }*/
        /*@@media screen and (max-height: 575px) {
            #rc-imageselect, .g-recaptcha {
                transform: scale(0.77);
                -webkit-transform: scale(0.77);
                transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
            }
        }
        @@media (max-height: 768px) {
            #rc-imageselect, .g-recaptcha {
                transform: scale(0.55);
                -webkit-transform: scale(0.55);
                transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
            }
        }*/
    </style>
    <script>
        //$(window).resize(function () {
        //    var recaptcha = $(".g-recaptcha");
        //    if (recaptcha.css('margin') == '1px') {
        //        var newScaleFactor = recaptcha.parent().innerWidth() / 304;
        //        recaptcha.css('transform', 'scale(' + newScaleFactor + ')');
        //        recaptcha.css('transform-origin', '0 0');
        //    }
        //    else {
        //        recaptcha.css('transform', 'scale(1)');
        //        recaptcha.css('transform-origin', '0 0');
        //    }
        //});
    </script>

    <!-- Init ReCaptcha V2 -->
    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>

    <script type="text/javascript">
        var checkValidReCaptchaV2 = function () {
            var v = grecaptcha.getResponse();
            if (v === '') {
                return false;
            }
            else {
                return true;
            }
        }
    </script>
    <!-- end Init ReCaptcha V2 -->

</head>
<body class=" sidebar-mini ">
    <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="#">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LogIn")</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                            <i class="now-ui-icons design_app"></i>
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Authentication" asp-action="Register" class="nav-link">
                            <i class="now-ui-icons tech_mobile"></i>
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Register")
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link">
                            <i class="now-ui-icons users_circle-08"></i>
                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LogIn")
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper wrapper-full-page ">
        <div class="full-page login-page section-image" filter-color="red" data-image="/images/login-background.jpg">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="card card-login card-plain">
                            <div class="card-header">
                                <div class="logo">
                                    <img src="~/images/logo_white.png" alt="">
                                </div>
                            </div>
                            <form id="form-log-in" method="POST" action="#" class="form needs-validation" novalidate="novalidate">
                                <div class="card-body ">
                                    <div class="form-group has-label">
                                        <label for="Email">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Email")</label>
                                        <div class="input-group no-border form-control-lg has-label">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                </div>
                                            </div>
                                            <input id="Email" class="form-control" placeholder="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Email")..." name="email" type="email" tabindex="1" required autofocus />
                                            <div class="invalid-feedback invalid-feedback-login">
                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "EmailRequired")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group has-label">
                                        <label for="Password" class="d-block">
                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Password")
                                            @*<div class="float-right">
                                                    <a asp-controller="Authentication" asp-action="ForgotPassword">
                                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ForgotPassword")
                                                    </a>
                                                </div>*@
                                        </label>
                                        <div class="input-group no-border form-control-lg">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                </div>
                                            </div>
                                            <input id="Password" class="form-control" placeholder="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Password")..." name="password" type="password" tabindex="2" required />
                                            <div class="invalid-feedback invalid-feedback-login">
                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PasswordRequired")
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="box-captcha">
                                            <div class="g-recaptcha" data-sitekey="6LcmwmAUAAAAAOaDjdjGVgSHYj9fzZH-1-U8Ffd4"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="invalid-feedback invalid-feedback-login login-error">
                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "InvalidEmailPassword")
                                        </div>
                                    </div>
                                    <button type="submit" id="btn-log-in" class="btn btn-primary btn-round btn-lg btn-block mb-3" tabindex="4">
                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LogIn")
                                    </button>
                                </div>
                            </form>
                            <div class="card-footer ">

                                <div class="text-white text-center">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NoAccount")
                                    <a asp-controller="Authentication" asp-action="Register" class="btn btn-warning btn-round btn-lg btn-block mb-3" tabindex="4" style="margin-top:15px;">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CreateAccount")</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul>
                            <li>
                                <a asp-controller="Dashboard" asp-action="Index">
                                    <i class="now-ui-icons design_app"></i>
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Authentication" asp-action="Register">
                                    <i class="now-ui-icons tech_mobile"></i>
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Register")
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Authentication" asp-action="Login">
                                    <i class="now-ui-icons users_circle-08"></i>
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LogIn")
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Copyright") &copy;  @DateTime.Now.Year
                    </div>
                </div>
            </footer>

            <div class="full-page-background" style="background-image: url(/images/login-background.jpg) "></div>
        </div>
    </div>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="~/js/dashboard/jquery.min.js"></script>
    <script src="~/js/dashboard/popper.min.js"></script>
    <script src="~/js/dashboard/bootstrap.min.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="~/js/dashboard/buttons.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/js/dashboard/plugins/bootstrap-notify.js"></script>
    <!-- Forms Validations Plugin -->
    <script src="~/js/dashboard/plugins/jquery.validate.min.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/dashboard/cpl.login.js"></script>
</body>
</html>