@model AccountRegistrationModel
@{
    Layout = "_Layout";
}

<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="content-wrapper mt-2 mb-2">
    <div class="content-body">
        <div class="col-xl-3 col-lg-4 col-sm-5 col-12 p-0  mx-auto">
            <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right height-500">
                <div class="card-content">
                    <div class="card-body">
                        <p class="text-center h5 text-capitalize txt-welcome">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Welcome")</p>
                        <form id="form-register" class="form-horizontal form-signin form needs-validation">
                            @*<p id="register-message" class="text-center text-light">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "AccountInfoRequired")</p>*@
                            <fieldset class="form-label-group">
                                <input id="Email" class="form-control" name="Email" type="email" tabindex="1" autofocus required />
                                <label for="Email">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Email")</label>
                                <div id="email-msg" class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ExistingEmail")
                                </div>
                            </fieldset>
                            <fieldset class="form-label-group">
                                <input type="password" name="Password" id="Password" class="form-control" tabindex="2" required />
                                <label for="Password">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Password")</label>
                            </fieldset>
                            <fieldset class="form-label-group">
                                <input type="password" name="PasswordConfirm" id="PasswordConfirm" class="form-control" tabindex="3" required />
                                <label for="PasswordConfirm">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PasswordConfirm")</label>
                                <div id="password-confirm-msg" class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MismatchPassword")
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <label for="captcha" class="text-light d-block">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Captcha")
                                </label>
                                <div class="box-captcha">
                                    <div class="g-recaptcha" data-sitekey="@Model.GCaptchaKey"></div>
                                </div>
                            </div>
                            <div class="invalid-feedback" id="register-msg">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "InvalidEmailPassword")
                            </div>
                            <button type="submit" id="btn-register" class="btn btn-primary btn-block my-1"><i class="la la-user-plus"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Register")</button>
                            <p class="text-center">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "AlreadyHaveAccount") <a asp-controller="Authentication" asp-action="LogIn">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ClickHere")</a> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ToLogIn")
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="captchaMessage" id="captchaMessage" value="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CaptchaMessage")" />
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
@section scripts
    {
    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>
    <script src="~/js/dashboard/cpl.register.js"></script>
}