@model AccountResetPasswordModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ResetPassword");
}

<div class="content-wrapper mt-2 mb-2">
    <div class="content-body">
        <div class="col-xl-3 col-lg-4 col-sm-5 col-12 p-0 mx-auto">
            <div class="card card-primary mb-0">
                <div class="card-body">
                    @if (Model.Status == CPL.Misc.Enums.EnumAccountStatus.REQUEST_NOT_EXIST
                    ||
                    Model.Status == CPL.Misc.Enums.EnumAccountStatus.INVALID_TOKEN
                    )
                    {
                        <p id="reset-password-message" class="text-muted">@Html.Raw(Model.Message)</p>
                    }
                    else
                    {
                        <h5 class="text-center text-capitalize pb-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ResetYourPassword")</h5>
                        <p id="reset-password-message" class="text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NewPasswordDesc")</p>
                        <form id="form-reset-password" class="form-horizontal form-signin form needs-validation">
                            <fieldset class="form-group">
                                <label for="Password">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NewPassword")</label>
                                <input type="password" name="Password" id="Password" class="form-control" tabindex="1" required />
                                <div class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PasswordRequired")
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="PasswordConfirm">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NewPasswordConfirm")</label>
                                <input type="password" name="PasswordConfirm" id="PasswordConfirm" class="form-control" tabindex="2" required />
                                <div id="password-confirm-message" class="invalid-feedback">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MismatchPassword")
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <div class="invalid-feedback" id="reset-password-error">
                                </div>
                            </div>
                            @Html.HiddenFor(x => x.Id)
                            @Html.HiddenFor(x => x.Token)
                            <div class="form-group">
                                <button type="submit" id="btn-do-reset-password" class="btn btn-primary btn-block" tabindex="4">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Reset")
                                </button>
                            </div>
                        </form>
                    }

                </div>
            </div>
        </div>
        <input type="hidden" name="captchaMessage" id="captchaMessage" value="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CaptchaMessage")" />
    </div>
</div>

@section scripts
    {
    <script src="~/js/dashboard/cpl.resetpassword.js" asp-append-version="true"></script>
}
