@model TransactionHistoryViewComponentViewModel
<div class="row">
    <div id="transaction-history-view-component" class="col-12">
        <h6 class="my-2 text-uppercase">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TransactionHistory")</h6>
        <div class="card">
            <div class="card-content">
                <table id="dt-transaction-history" class="table responsive table-hover table-xl mb-0">
                    <thead>
                        <tr>
                            <th class="border-top-0" data-priority="1">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CreatedDate")</th>
                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ToWalletAddress")</th>
                            <th class="border-top-0" data-priority="3">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CoinAmount")</th>
                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Currency")</th>
                            <th class="border-top-0" data-priority="2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Type")</th>
                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Status")</th>
                            <th class="border-top-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Action")</th>
                        </tr>
                    </thead>
                </table>
                @Html.Hidden("CurrencyId", Model.CurrencyId)
                @Html.Hidden("SysUserId", Model.SysUserId)
            </div>
        </div>
    </div>
</div>
