@model LotteryIndexViewModel
<section id="slider-banner">
    <div class="owl-carousel owl-theme owl-loaded mt-sm-1 mt-0">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                @*@if (Model.Slides != null)
                {
                    @foreach (var slide in Model.Slides)
                    {
                        <div class="owl-item">
                            <a class="d-md-block d-none" asp-controller="Lottery" asp-action="Index" asp-route-id="@slide.Id"><img src="~/images/lottery/@slide.DesktopSlideImage" class="img-fluid img-border" /></a>
                            <a class="d-md-none d-block" asp-controller="Lottery" asp-action="Index" asp-route-id="@slide.Id"><img src="~/images/lottery/@slide.MobileSlideImage" class="img-fluid img-border" /></a>
                        </div>
                    }
                }*@
                <div class="owl-item">
                    <div class="d-md-block d-none"><img src="~/images/lottery/1_slide_probability.jpg" class="img-fluid img-border" /></div>
                    <div class="d-md-none d-block"><img src="~/images/lottery/1_slide_probability_mobile.jpg" class="img-fluid img-border" /></div>
                </div>
                <div class="owl-item">
                    <div class="d-md-block d-none"><img src="~/images/lottery/2_slide_crypto_lot.jpg" class="img-fluid img-border" /></div>
                    <div class="d-md-none d-block"><img src="~/images/lottery/2_slide_crypto_lot_mobile.jpg" class="img-fluid img-border" /></div>
                </div>
                <div class="owl-item">
                    <div class="d-md-block d-none"><img src="~/images/lottery/3_slide_lottery.jpg" class="img-fluid img-border" /></div>
                    <div class="d-md-none d-block"><img src="~/images/lottery/3_slide_lottery_mobile.jpg" class="img-fluid img-border" /></div>
                </div>
                <div class="owl-item">
                    <div class="d-md-block d-none"><img src="~/images/lottery/4_slide_smartcontract.jpg" class="img-fluid img-border" /></div>
                    <div class="d-md-none d-block"><img src="~/images/lottery/4_slide_smartcontract_mobile.jpg" class="img-fluid img-border" /></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="scroll-game-info">
    <div id="navbar-scroll-game-info" class="navbar navbar-shadow mt-1 d-sm-block d-none">
        <div class="container">
            <marquee behavior="scroll" scrollamount="5" direction="left" width="100%">
                <p class="clearfix darken-2 text-sm-center mb-0 px-2 container center-layout">
                    @if (Model.Lotteries != null)
                    {
                        @foreach (var lottery in Model.Lotteries)
                        {
                            <span class="d-md-inline-block pr-4">
                                <a asp-controller="Lottery" asp-action="Index" asp-route-id="@lottery.Id">@lottery.Title, @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Phase") @lottery.Phase</a> -
                                @string.Format(@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TicketsLeft"), @lottery.NumberOfTicketLeft.ToString("N0"))
                            </span>
                        }
                    }
                </p>
            </marquee>
        </div>
    </div>
</section>

