@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DepositAndWithdraw");
}

@section styles
    {
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
    <link href="~/css/dashboard/cpl.depositandwithdraw.viewcomponent.css" rel="stylesheet" asp-append-version="true" />
}

<div class="app-content container center-layout mt-2 px-0">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DepositAndWithdraw")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Dashboard" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</a>
                            </li>
                            <li class="breadcrumb-item active">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DepositAndWithdraw")
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-detached">
            <div class="content-body" id="depositwithdraw-content">
                @await Component.InvokeAsync("DepositWithdraw")
            </div>
        </div>
    </div>
    @Html.Hidden("CopiedSuccessfully", @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CopiedSuccessfully"))
</div>

@section scripts
    {
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/js/dashboard/plugins/clipboard/clipboard.min.js"></script>
    <script src="~/js/dashboard/cpl.depositandwithdraw.viewcomponent.js" asp-append-version="true"></script>
}
