@{
    Layout = "_DashboardLayout";
}
@model DepositAndWithdrawViewModel

@section styles
    {
    <link href="~/css/dashboard/wallet.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
}

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-12 col-12 mb-3 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="btn-group float-md-right top-1"><a class="btn-gradient-secondary btn-sm white" asp-controller="Exchange" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Exchange")</a></div>
                        <div class="btn-group float-md-right pr-1 top-1"><a class="btn-gradient-primary btn-sm white" asp-controller="DepositAndWithdraw" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DepositAndWithdraw")</a></div>
                        <div class="btn-group float-md-right pr-1 top-1"><a class="btn-gradient-secondary btn-sm white" asp-controller="Dashboard" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Wallet")</a></div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="mt-2">Remember, deposit is risk-free. If you want to take back your asset, you can withdraw them.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div class="content-detached content-left">
                <div class="content-body">
                    <div id="wallet">
                        <div class="wallet-table-th d-none d-md-block">
                            <div class="row">
                                <div class="col-md-6 col-12 pt-1">
                                    <p class="mt-0 text-capitalize">Cryptocurrency</p>
                                </div>
                                <div class="col-md-2 col-12 pt-1 text-center">
                                    <p class="mt-0 text-capitalize">Available</p>
                                </div>
                                <div class="col-md-2 col-12 pt-1 pr-4 text-center">
                                    <p class="mt-0 text-capitalize">QR Code</p>
                                </div>
                                <div class="col-md-2 col-12 pt-1 text-center">
                                </div>
                            </div>
                        </div>
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12 pt-1">
                                                <div class="media">
                                                    <i class="cc BTC mr-2 warning font-large-3"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-12 pt-1">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 text-capitalize">Bitcoin</h5>
                                                        <p id="BTCAddress" class="text-muted mb-0 font-small-3 wallet-address">0xd38d9eeb5b9617d758cee2c683e1d385637635e9</p>
                                                        <button type="button" class="btn btn-sm round mr-1 mt-1 btn-copy" data-clipboard-target="#BTCAddress"><i class="fas fa-copy"></i> Copy</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-12 pt-1 text-center">
                                                <h6>@Model.BtcAmount BTC</h6>
                                                <a id="available-bct" hidden>@Model.BtcAmount</a>
                                                <p class="text-muted mb-0 font-small-3">~ $2650.78</p>
                                            </div>
                                            <div class="col-md-2 col-12 pt-1 text-center">
                                                @*<img class="img-fluid" src="https://blockchain.info/qr?data=bitcoin:17PJZ2uLiR2TMVv18MzsjRRswfRSLkSNBe">*@
                                                <img class="img-fluid" src="https://pixinvent.com/demo/crypto-ico-admin/app-assets/images/icons/sample-qr.png">
                                            </div>

                                            <div class="col-md-2 col-12 pt-1 text-center">
                                                <a id="txt-withdraw-btc" href="#">Withdraw</a>
                                            </div>
                                        </div>
                                        <div id="panel-withdraw-btc" style="display:none">
                                            <hr>
                                            <p class="mt-2">You are about to withdraw <span class="text-bold-700 text-uppercase mb-0">BTC</span> from your account</p>

                                            <form id="form-withdraw-btc" class="form-horizontal form-purchase-token row">
                                                <div class="col-lg-2 col-md-3 col-sm-12 col-12">
                                                    <fieldset class="form-label-group mb-0">
                                                        <input type="number" class="form-control" id="btc-amount" value="0" required="" autofocus="" min="0" max="@Model.BtcAmount" step="any">
                                                        <p id="btc-amount-error"></p>
                                                        <label for="ico-token">Amount</label>
                                                    </fieldset>
                                                    <button type="button" id="btn-max-btc" class="btn btn-sm round mr-1 mt-1"><i class="fas fa-angle-double-up"></i> Max</button>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-12 col-12 mb-1 text-center">
                                                    <span class="la la-arrow-right"></span>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-1">
                                                    <fieldset class="form-label-group mb-0">
                                                        <input type="text" class="form-control" id="btc-address" value="0XD38D9EEB5B9617D758CEE2C683E1D385637635E9" required="" autofocus="">
                                                        <label for="wallet-address">Address</label>
                                                        <p id="btc-address-error"></p>
                                                    </fieldset>
                                                    <button type="button" id="btn-qrcode" class="btn btn-sm round mr-1 mt-1"><i class="fas fa-qrcode"></i> QR Code</button>
                                                    @*<input type="file" id="fileQrcode">*@
                                                    @*<label id=selected>Nothing selected</label>*@
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-12 text-center">
                                                    <button type="submit" class="btn-gradient-secondary" id="btc-withdraw">Withdraw</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-2 col-12 pt-1">
                                                <div class="media">
                                                    <i class="cc ETH mr-2 font-large-3"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-12 pt-1">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 text-capitalize">Ethereum</h5>
                                                        <p id="ETHAddress" class="text-muted mb-0 font-small-3 wallet-address">0xd38d9eeb5b9617d758cee2c683e1d385637635e9</p>
                                                        <button type="button" class="btn btn-sm round mr-1 mt-1 btn-copy" data-clipboard-target="#ETHAddress"><i class="fas fa-copy"></i> Copy</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-12 pt-1 text-center">
                                                <h6>0.6789842 ETH</h6>
                                                <p class="text-muted mb-0 font-small-3">~ $650.78</p>
                                            </div>
                                            <div class="col-md-2 col-12 pt-1 text-center">
                                                <img class="img-fluid" src="https://pixinvent.com/demo/crypto-ico-admin/app-assets/images/icons/sample-qr.png">
                                            </div>
                                            <div class="col-md-2 col-12 pt-1 text-center">
                                                <a href="#">Withdraw</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="sidebar-detached sidebar-right">
                <div class="sidebar">
                    <div id="wallet-sidebar" class="sidebar-content">
                        <div class="row">
                            <p class="pt-1 text-capitalize col-12">Your balance</p>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title text-center">CPL Token</h6>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="text-center row clearfix mb-2">
                                        <div class="col-12">
                                            <i class="cpl-token-balance font-large-3 bg-warning bg-glow white rounded-circle p-3 d-inline-block"></i>
                                        </div>
                                    </div>
                                    <h3 class="text-center">3,458.88 CPL</h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-de mb-0">
                                        <tbody>
                                            <tr>
                                                <td>CPL Token</td>
                                                <td><i class='cpl-token-grey-sm'></i> 3,258 CPL</td>
                                            </tr>
                                            <tr>
                                                <td>CPL Referral</td>
                                                <td><i class='cpl-token-grey-sm'></i> 200.88 CPL</td>
                                            </tr>
                                            <tr>
                                                <td>CPL Price</td>
                                                <td><i class="cc BTC-alt"></i> 0.0001 BTC</td>
                                            </tr>
                                            <tr>
                                                <td>Raised BTC</td>
                                                <td><i class="cc BTC-alt"></i> 2154 BTC</td>
                                            </tr>
                                            <tr>
                                                <td>Raised USD</td>
                                                <td><i class="la la-dollar"></i> 4.52 M</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("CopiedText", "CopiedSuccessfully")
    </div>

@section scripts
    {
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/js/dashboard/plugins/clipboard/clipboard.min.js"></script>
    <script src="~/js/dashboard/cpl.depositandwithdraw.js"></script>
}
