@{
    Layout = "_DashboardLayout";
}
@model DepositAndWithdrawViewModel

@section styles
    {
    <link href="~/css/dashboard/wallet.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/datatables/Responsive-2.2.1/css/responsive.bootstrap4.min.css" />
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-3 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="btn-group float-md-right top-1"><a class="btn-gradient-secondary btn-sm white" asp-controller="Exchange" asp-action="Index"><i class="fa fa-exchange-alt"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Exchange")</a></div>
                    <div class="btn-group float-md-right pr-1 top-1"><a class="btn-gradient-primary btn-sm white" asp-controller="DepositAndWithdraw" asp-action="Index"><i class="fa fa-money-bill-alt"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DepositAndWithdraw")</a></div>
                    <div class="btn-group float-md-right pr-1 top-1"><a class="btn-gradient-secondary btn-sm white" asp-controller="Dashboard" asp-action="Index"><i class="ficon icon-wallet"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Wallet")</a></div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <section class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="mt-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DepositWarning")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="content-detached content-left">
            <div class="content-body">
                <div id="wallet">
                    <div class="wallet-table-th d-none d-md-block">
                        <div class="row">
                            <div class="col-md-6 col-12 pt-1">
                                <p class="mt-0 text-capitalize">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Cryptocurrency")</p>
                            </div>
                            <div class="col-md-2 col-12 pt-1 text-center">
                                <p class="mt-0 text-capitalize">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Available")</p>
                            </div>
                            <div class="col-md-2 col-12 pt-1 pr-4 text-center">
                                <p class="mt-0 text-capitalize">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "QRCode")</p>
                            </div>
                            <div class="col-md-2 col-12 pt-1 text-center">
                            </div>
                        </div>
                    </div>
                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-2 col-12 pt-1 mt-2">
                                            <div class="media">
                                                <i class="cc BTC mr-2 warning font-large-3"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12 pt-1">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mt-2 text-capitalize">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCName")</h5>
                                                    <p id="BTCAddress" class="text-muted mb-0 font-small-3 wallet-address">@Model.BTCHDWalletAddress</p>
                                                    <button type="button" class="btn btn-sm round mr-1 mt-1 btn-copy" data-clipboard-target="#BTCAddress"><i class="fas fa-copy"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Copy")</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-12 pt-1 text-center">
                                            <h6 class="mt-2">@Model.BTCAmount @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCSymbol")</h6>
                                            @*<p class="text-muted mb-0 font-small-3">~ $2650.78</p>*@
                                        </div>
                                        <div class="col-md-2 col-12 pt-1 text-center">
                                            <img class="img-fluid" src=@Model.BTCQrCodeImage>
                                        </div>

                                        <div class="col-md-2 col-12 pt-1 text-center">
                                            <button class="mb-0 btn-sm btn btn-outline-danger round btn-withdraw mt-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Withdraw")</button>
                                        </div>
                                    </div>
                                    <div class="panel-withdraw" style="display:none">
                                        <hr>
                                        <p class="mt-2">@Html.Raw(@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCWithdrawWarning"))</p>

                                        <form class="form-horizontal form-purchase-token row form-withdraw">
                                            <div class="col-lg-4 col-md-3 col-sm-12 col-12">
                                                <fieldset class="form-label-group mb-0">
                                                    <input type="number" name="btc-amount" class="form-control amount-value" value="0" required="" autofocus="" min="0" max="@Model.BTCAmount" step="any">
                                                    <label for="btc-amount">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Amount")</label>
                                                </fieldset>
                                                <div class="invalid-feedback amount-error"></div>
                                                <button type="button" class="btn btn-sm round mr-1 mt-1 btn-max"><i class="fas fa-angle-double-up"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Max")</button>
                                                <input type="hidden" value="@Model.BTCAmount" class="max-amount" />
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-12 mb-1 text-center">
                                                <span class="la la-arrow-right"></span>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-1">
                                                <fieldset class="form-label-group mb-0">
                                                    <input type="text" class="form-control address-value" name="address-btc" required="" autofocus="">
                                                    <label for="address-btc">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Address")</label>
                                                </fieldset>
                                                <div class="invalid-feedback address-error"></div>
                                                <button type="button" class="btn btn-sm round mr-1 mt-1 btn-qrcode"><i class="fas fa-qrcode"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "QRCode")</button>
                                                <input type="file" class="file-qrcode" hidden/>
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-12 text-center">
                                                <button type="submit" class="btn btn-gradient-secondary btn-do-withdraw">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Withdraw") <i class="la la-angle-right"></i></button>
                                            </div>
                                            <input type="hidden" class="currency" value="BTC" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-2 col-12 pt-1 mt-2">
                                            <div class="media">
                                                <i class="cc ETH mr-2 font-large-3"></i>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12 pt-1">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h5 class="mt-2 text-capitalize">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHName")</h5>
                                                    <p id="ETHAddress" class="text-muted mb-0 font-small-3 wallet-address">@Model.ETHHDWalletAddress</p>
                                                    <button type="button" class="btn btn-sm round mr-1 mt-1 btn-copy" data-clipboard-target="#ETHAddress"><i class="fas fa-copy"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Copy")</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-12 pt-1 text-center">
                                            <h6 class="mt-2">@Model.ETHAmount @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHSymbol")</h6>
                                            @*<p class="text-muted mb-0 font-small-3">~ $650.78</p>*@
                                        </div>
                                        <div class="col-md-2 col-12 pt-1 text-center">
                                            <img class="img-fluid" src=@Model.ETHQrCodeImage>
                                        </div>
                                        <div class="col-md-2 col-12 pt-1 text-center">
                                            <button class="mb-0 btn-sm btn btn-outline-danger round btn-withdraw mt-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Withdraw")</button>
                                        </div>
                                    </div>
                                    <div class="panel-withdraw" style="display:none">
                                        <hr>
                                        <p class="mt-2">@Html.Raw(@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHWithdrawWarning"))</p>

                                        <form class="form-horizontal form-purchase-token row form-withdraw">
                                            <div class="col-lg-4 col-md-3 col-sm-12 col-12">
                                                <fieldset class="form-label-group mb-0">
                                                    <input type="number" name="amount-eth" class="form-control amount-value" value="0" required="" autofocus="" min="0" max="@Model.ETHAmount" step="any">
                                                    <label for="amount-eth">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Amount")</label>
                                                </fieldset>
                                                <div class="invalid-feedback amount-error"></div>
                                                <button type="button" class="btn btn-sm round mr-1 mt-1 btn-max"><i class="fas fa-angle-double-up"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Max")</button>
                                                <input type="hidden" value="@Model.ETHAmount" class="max-amount" />
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-12 mb-1 text-center">
                                                <span class="la la-arrow-right"></span>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-1">
                                                <fieldset class="form-label-group mb-0">
                                                    <input type="text" class="form-control address-value" name="eth-address" required="" autofocus="">
                                                    <label for="eth-address">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Address")</label>
                                                </fieldset>
                                                <div class="invalid-feedback address-error"></div>
                                                <button type="button" class="btn btn-sm round mr-1 mt-1 btn-qrcode"><i class="fas fa-qrcode"></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "QRCode")</button>
                                                <input type="file" class="file-qrcode" hidden />
                                            </div>
                                            <div class="col-lg-2 col-md-2 col-12 text-center">
                                                <button type="submit" class="btn btn-gradient-secondary btn-do-withdraw">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Withdraw") <i class="la la-angle-right"></i></button>
                                            </div>
                                            <input type="hidden" class="currency" value="ETH"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="sidebar-detached sidebar-right">
            <div class="sidebar">
                <div id="wallet-sidebar" class="sidebar-content">
                    @await Component.InvokeAsync("TokenBalance")
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("CopiedText", "Copied Successfully")
</div>

@section scripts
    {
    <script src="~/js/dashboard/plugins/datatables/datatables.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/dashboard/plugins/datatables/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="~/js/dashboard/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="~/js/dashboard/plugins/clipboard/clipboard.min.js"></script>
    <script src="~/js/dashboard/cpl.depositandwithdraw.js"></script>
}
