@model LotteryResultViewModel
<div class="text-center">
    <div class="img-container p-0 d-none d-xl-block d-lg-block">
        @if (!Model.LastestLotteryStatus.HasValue)
        {
            // Let buy lottery
            <img src="~/images/lottery/lottery_result_login.jpg" class="img-fluid" />
            <p class="font-size-lottery-result font-weight-bold center-center text-center  text-danger">
                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LetBuyLottery")
            </p>
        }
        else if (Model.LastestLotteryStatus == false)
        {
            <p class="font-size-lottery-result txt-stroke top-center text-center ">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Name"): @Model.LastestLotteryTitle</p>
            <img src="~/images/lottery/lottery_result_lose.jpg" class="img-fluid" />
            <p class="font-size-lottery-result-long font-weight-bold text-white bottom-center text-center ">
                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SorryForThisTime")
                <br>
                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "YouHaveANextChance")
            </p>
        }
        else
        {
            <p class="font-size-lottery-result txt-stroke top-center text-center ">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Name"): @Model.LastestLotteryTitle</p>
            <img src="~/images/lottery/lottery_result_win.jpg" class="img-fluid" />
            <a href="/History/Lottery?lotteryId=@Model.LastestLotteryId" target="_blank" class="top-right text-right text-primary"><u>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "OtherResult")</u></a>
            <p class="font-size-lottery-result font-weight-bold bottom-center text-center text-white">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Win"): @Model.LastestLotteryResult# @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Prize") !</p>
        }
    </div>
    <div class="img-container p-0 d-xl-none d-lg-none d-block">
        @if (!Model.LastestLotteryStatus.HasValue)
        {
            // Let buy lottery
            <img src="~/images/lottery/lottery_result_login1.jpg" class="img-fluid" />
            <p class="font-size-lottery-result font-weight-bold center-center text-center  text-danger">
                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LetBuyLottery")
            </p>
        }
        else if (Model.LastestLotteryStatus == false)
        {
            <p class="font-size-lottery-result txt-stroke top-center text-center ">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Name"): @Model.LastestLotteryTitle</p>
            <img src="~/images/lottery/lottery_result_lose1.jpg" class="img-fluid" />
            <p class="font-size-lottery-result-long font-weight-bold text-white bottom-center text-center ">
                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SorryForThisTime")
                <br>
                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "YouHaveANextChance")
            </p>
        }
        else
        {
            <p class="font-size-lottery-result txt-stroke top-center text-center ">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Name"): @Model.LastestLotteryTitle</p>
            <img src="~/images/lottery/lottery_result_win1.jpg" class="img-fluid" />
            <a href="/History/Lottery?lotteryId=@Model.LastestLotteryId" target="_blank" class="top-right text-right text-primary"><u>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "OtherResult")</u></a>
            <p class="font-size-lottery-result font-weight-bold bottom-center text-center text-white">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Win"): @Model.LastestLotteryResult# @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Prize") !</p>
        }
    </div>
</div>
