@model EditSecurityViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SecurityEdit");
}
@section styles
    {
    <link href="~/css/dashboard/cpl.editsecurity.css" rel="stylesheet" asp-append-version="true" />
}
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 breadcrumb-new">
                @await Component.InvokeAsync("TokenBalance")
            </div>
        </div>
        <div class="content-body">
            <div class="row pull">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="user-profile" class="tab-component-custom">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="kyc-nav-tab" data-toggle="tab" href="#kyc-nav" aria-controls="kyc-nav" aria-expanded="true">
                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "SecurityEdit")
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content px-2 py-1 mb-2">
                            <div role="tabpanel" class="tab-pane active" id="kyc-nav" aria-labelledby="kyc-nav-tab" aria-expanded="true">
                                    <div class="card mb-0">
                                        <div class="card-content">
                                            <form id="form-edit-account" class="form-horizontal form-user-profile mt-2" action="">
                                                <div class="card-body">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <div class="col-md-2 col-12">
                                                                <img src="~/images/avatar-1.jpeg" class="rounded-circle height-70" @*alt="@Model.FirstName @Model.LastName" *@ />
                                                            </div>
                                                            <div class="col-md-10 col-12">
                                                                @if (!Model.KYCVerified.HasValue)
                                                                {
                                                                    <div class="row mb-1" id="kyc-verify">
                                                                        <p id="kyc-message" class="text-muted col-sm-12">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MyIdentityDesc")</p>
                                                                        <div class="col-md-6 col-sm-12">
                                                                            <fieldset class="form-label-group">
                                                                                <input id="FrontSideImage" type="file" value="@Model.FrontSideImage" class="form-control" name="FrontSideImage" required maxlength="30">
                                                                                <label for="FrontSideImage" class="mt-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "FrontSide")</label>
                                                                            </fieldset>
                                                                        </div>
                                                                        <div class="col-md-6 col-sm-12">
                                                                            <fieldset class="form-label-group">
                                                                                <input id="BackSideImage" type="file" value="@Model.BackSideImage" class="form-control" name="BackSideImage" required maxlength="30">
                                                                                <label for="BackSideImage" class="mt-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BackSide")</label>
                                                                            </fieldset>
                                                                        </div>
                                                                    </div>
                                                                }
                                                                else if (Model.KYCVerified.Value)
                                                                {
                                                                    <div class="row mb-1 col-sm-12" id="kyc-verify">
                                                                        <p class="text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYCConfirmed")</p>
                                                                        <span class="badge badge-success h-50">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Verified")</span>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="row mb-1 col-sm-12" id="kyc-verify">
                                                                        <p class="text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYCReceived")</p>
                                                                        <span class="badge badge-info h-50">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Pending")</span>
                                                                    </div>
                                                                }
                                                                @Html.HiddenFor(x => x.Id)
                                                                @Html.HiddenFor(x => x.KYCVerified)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer py-0">
                                                    <button type="button" id="btn-save-account" class="btn btn-danger my-1 pull-right"><i class='far fa-save'></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Save")</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/js/dashboard/cpl.editsecurity.js" asp-append-version="true"></script>
}
