@model EditAccountViewModel
@{
    Layout = "_DashboardLayout";
}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <form id="form-edit-account" class="form-horizontal" action="#" method="POST">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ProfileEdit")</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <label class="col-sm-2 col-form-label">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Name")</label>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="FirstName" required value="@Model.FirstName" />
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="LastName" required value="@Model.LastName"  />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Gender")</label>
                            <div class="col-sm-10 checkbox-radios">
                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="GenderGroup" id="male" value="1" checked="">
                                        <span class="form-check-sign"></span>
                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Male")
                                    </label>
                                </div>

                                <div class="form-check form-check-radio">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="GenderGroup" id="female" value="0">
                                        <span class="form-check-sign"></span>
                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Female")
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DOB")</label>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="number" number="true" />
                                </div>
                            </div>
                            <label class="col-sm-3 label-on-right"><code>number="true"</code></label>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Url</label>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input class="form-control"
                                           type="text"
                                           name="url"
                                           url="true" />
                                </div>
                            </div>
                            <label class="col-sm-3 label-on-right"><code>url="true"</code></label>
                        </div>
                        <div class="row">
                            <label class="col-sm-2 col-form-label">Equal to</label>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control"
                                           id="idSource"
                                           type="text"
                                           placeholder="#idSource" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input class="form-control"
                                           id="idDestination"
                                           type="text"
                                           placeholder="#idDestination"
                                           equalTo="#idSource" />
                                </div>
                            </div>
                            <label class="col-sm-4 label-on-right"><code>equalTo="#idSource"</code></label>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Validate Inputs</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>