@model EditCredentialViewModel
@{
    Layout = "_DashboardLayout";
}
@section styles
    {
}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CredentialEdit")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Dashboard" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</a>
                            </li>
                            <li class="breadcrumb-item active">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CredentialEdit")
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
                <div class="btn-group float-md-right"><a class="btn-gradient-secondary btn-sm white" href="#">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PlayGame")</a></div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <!-- User Profile -->
                    <section class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-md-2 col-12">
                                            <img src="~/images/avatar-1.jpeg" class="rounded-circle height-70" alt="@Model.FirstName @Model.LastName" />
                                        </div>
                                        <div class="col-md-10 col-12">
                                            <h5>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "EditEmail")</h5>
                                            <hr />
                                            <form id="form-edit-email" class="form-horizontal form-user-profile mt-2" action="">
                                                <div class="row mb-1">
                                                    <div class="col-md-6 col-sm-12">
                                                        <fieldset class="form-label-group">
                                                            <input type="email" name="CurrentEmail" readonly value="@Model.CurrentEmail" class="form-control" maxlength="30" id="CurrentEmail" required autofocus="">
                                                            <label for="CurrentEmail">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CurrentEmail")</label>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-md-6 col-sm-12">
                                                        <fieldset class="form-label-group">
                                                            <input type="email" name="NewEmail" class="form-control" maxlength="30"  id="NewEmail" required autofocus="">
                                                            <label for="NewEmail">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NewEmail")</label>
                                                            <div id="new-email-msg" class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ExistEmail")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <fieldset class="form-label-group">
                                                            <input type="email" name="NewEmailConfirm" class="form-control" maxlength="30"  id="NewEmailConfirm" required autofocus="">
                                                            <label for="NewEmailConfirm">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NewEmailConfirm")</label>
                                                            <div id="new-email-confirm-msg" class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MismatchEmail")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 text-right">
                                                        <button type="button" id="btn-save-email" class="btn-gradient-primary my-1"><i class='far fa-save'></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Save")</button>
                                                    </div>
                                                </div>
                                            </form>
                                            <h5>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "EditPassword")</h5>
                                            <hr />
                                            <form id="form-edit-password" class="form-horizontal form-user-profile mt-2" action="">
                                                <div class="row mb-1">
                                                    <div class="col-md-6 col-sm-12">
                                                        <fieldset class="form-label-group">
                                                            <input type="password" name="CurrentPassword" class="form-control" maxlength="30" id="CurrentPassword" required autofocus="">
                                                            <label for="CurrentPassword">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CurrentPassword")</label>
                                                            <div id="current-password-msg" class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "InvalidCurrentPassword")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-md-6 col-sm-12">
                                                        <fieldset class="form-label-group">
                                                            <input type="password" name="NewPassword" class="form-control" maxlength="30" id="NewPassword" required autofocus="">
                                                            <label for="NewPassword">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NewPassword")</label>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <fieldset class="form-label-group">
                                                            <input type="password" name="NewPasswordConfirm" class="form-control" maxlength="30" id="NewPasswordConfirm" required autofocus="">
                                                            <label for="NewPasswordConfirm">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "NewPasswordConfirm")</label>
                                                            <div id="new-password-confirm-msg" class="invalid-feedback">
                                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MismatchPassword")
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 text-right">
                                                        <button type="button" id="btn-save-password" class="btn-gradient-primary my-1"><i class='far fa-save'></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Save")</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    @await Component.InvokeAsync("TokenBalance")
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/js/dashboard/cpl.editcredential.js"></script>
}
