@model ProfileViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Profile");
}
@section styles
    {
    <link rel="stylesheet" type="text/css" href="~/css/dashboard/plugins/switchery/switchery.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/intl-tel-input/css/intlTelInput.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dashboard/cpl.profile.css" asp-append-version="true" />
}
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Profile")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Dashboard" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</a>
                            </li>
                            <li class="breadcrumb-item active">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Profile")
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("LotteryResult")
        <div class="content-body">
            <h6 class="my-2 text-uppercase">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MyProfile")</h6>
            @if (Model.Edit)
            {
                <div class="card">
                    <div class="card-content">
                        <form id="form-edit-account" class="form-horizontal mt-2" action="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2 col-12 text-center">
                                        <img src="~/images/avatar-1.jpeg" class="rounded-circle height-70" alt="@Model.FirstName @Model.LastName" />
                                    </div>
                                    <div class="col-md-10 col-12">
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <p class="text-uppercase mb-0"><a asp-controller="History" asp-action="Transaction">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Transactions") <i class="la la-mail-forward font-small-3"></i></a></p>
                                                <p class="mb-0"><strong>@Model.NumberOfTransactions.ToString("N0")</strong></p>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <p class="text-uppercase mb-0"><a asp-controller="History" asp-action="Game">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GameHistory") <i class="la la-mail-forward font-small-3"></i></a></p>
                                                <p class="mb-0"><strong>@Model.NumberOfGameHistories.ToString("N0")</strong></p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row mb-1">
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset class="form-label-group">
                                                    <input type="text" name="FirstName" class="form-control" maxlength="30" id="FirstName" value="@Model.FirstName" required autofocus="">
                                                    <label for="FirstName">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "FirstName")</label>
                                                    <div class="invalid-feedback">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "FirstNameRequired")</div>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset class="form-label-group">
                                                    <input type="text" class="form-control" name="LastName" id="LastName" maxlength="30" value="@Model.LastName" required autofocus="">
                                                    <label for="LastName">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LastName")</label>
                                                    <div class="invalid-feedback">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LastNameRequired")</div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <div class="col-sm-12">
                                                <fieldset class="form-label-group">
                                                    <div>
                                                        <label>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Gender")</label>
                                                    </div>
                                                    <div class="form-check form-check-radio" style="display: inline-block;padding-left: 0px">
                                                        <label class="form-check-label">
                                                            @if (!Model.Gender.HasValue || Model.Gender.Value)
                                                            {
                                                                <input class="form-check-input" type="radio" name="gender" id="Male" value="1" checked>
                                                            }
                                                            else
                                                            {
                                                                <input class="form-check-input" type="radio" name="gender" id="Male" value="1">
                                                            }
                                                            <span class="form-check-sign"></span>
                                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Male")
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-radio" style="display: inline-block;">
                                                        <label class="form-check-label">
                                                            @if (Model.Gender.HasValue && !Model.Gender.Value)
                                                            {
                                                                <input class="form-check-input" type="radio" name="gender" id="Female" value="0" checked>
                                                            }
                                                            else
                                                            {
                                                                <input class="form-check-input" type="radio" name="gender" id="Female" value="1">
                                                            }
                                                            <span class="form-check-sign"></span>
                                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Female")
                                                        </label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <fieldset class="form-label-group">
                                                    <div>
                                                        <label>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DOB")</label>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-1">
                                                            <select name="Year" id="Year" class="selectpicker" required data-style="btn" title="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Year")"></select>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-1">
                                                            <select name="Month" id="Month" class="selectpicker" required data-style="btn" title="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Month")"></select>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-12 mb-1">
                                                            <select name="Day" id="Day" class="selectpicker" required data-style="btn" title="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Day")"></select>
                                                        </div>
                                                        @if (Model.DOB.HasValue)
                                                        {
                                                            <input type="hidden" id="DOB" name="DOB" value="@Model.DOB.Value.ToString("yyyy/MM/dd")" />
                                                        }
                                                        else
                                                        {
                                                            <input type="hidden" id="DOB" name="DOB" />
                                                        }
                                                    </div>
                                                    <div class="invalid-feedback" id="dob-msg">
                                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "InvalidDOB")
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset class="form-label-group">
                                                    <input type="text" name="PostalCode" class="form-control" id="PostalCode" value="@Model.PostalCode" autofocus="">
                                                    <label for="PostalCode">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PostalCode")</label>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <fieldset class="form-label-group">
                                                    <select data-value="@Model.Country" name="Country" id="Country" class="selectpicker" required data-style="btn" title="@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Country")">
                                                        <option value="Afghanistan">Afghanistan</option>
                                                        <option value="Albania">Albania</option>
                                                        <option value="Algeria">Algeria</option>
                                                        <option value="Andorra">Andorra</option>
                                                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                        <option value="Argentina">Argentina</option>
                                                        <option value="Armenia">Armenia</option>
                                                        <option value="Australia">Australia</option>
                                                        <option value="Austria">Austria</option>
                                                        <option value="Azerbaijan">Azerbaijan</option>
                                                        <option value="Bahamas">Bahamas</option>
                                                        <option value="Bahrain">Bahrain</option>
                                                        <option value="Bangladesh">Bangladesh</option>
                                                        <option value="Barbados">Barbados</option>
                                                        <option value="Belarus">Belarus</option>
                                                        <option value="Belgium">Belgium</option>
                                                        <option value="Belize">Belize</option>
                                                        <option value="Benin">Benin</option>
                                                        <option value="Bhutan">Bhutan</option>
                                                        <option value="Bolivia">Bolivia</option>
                                                        <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                        <option value="Botswana">Botswana</option>
                                                        <option value="Brazil">Brazil</option>
                                                        <option value="Brunei">Brunei</option>
                                                        <option value="Bulgaria">Bulgaria</option>
                                                        <option value="Burkina Faso">Burkina Faso</option>
                                                        <option value="Burundi">Burundi</option>
                                                        <option value="Cambodia">Cambodia</option>
                                                        <option value="Cameroon">Cameroon</option>
                                                        <option value="Canada">Canada</option>
                                                        <option value="Cape Verde">Cape Verde</option>
                                                        <option value="Central African Republic">Central African Republic</option>
                                                        <option value="Chad">Chad</option>
                                                        <option value="Chile">Chile</option>
                                                        <option value="China">China</option>
                                                        <option value="Colombia">Colombia</option>
                                                        <option value="Comoros">Comoros</option>
                                                        <option value="Congo">Congo</option>
                                                        <option value="Costa Rica">Costa Rica</option>
                                                        <option value="Cote d'Ivoire">Cote d'Ivoire</option>
                                                        <option value="Croatia">Croatia</option>
                                                        <option value="Cuba">Cuba</option>
                                                        <option value="Cyprus">Cyprus</option>
                                                        <option value="Czech Republic">Czech Republic</option>
                                                        <option value="Denmark">Denmark</option>
                                                        <option value="Djibouti">Djibouti</option>
                                                        <option value="Dominica">Dominica</option>
                                                        <option value="Dominican Republic">Dominican Republic</option>
                                                        <option value="East Timor">East Timor</option>
                                                        <option value="Ecuador">Ecuador</option>
                                                        <option value="Egypt">Egypt</option>
                                                        <option value="El Salvador">El Salvador</option>
                                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                        <option value="Eritrea">Eritrea</option>
                                                        <option value="Estonia">Estonia</option>
                                                        <option value="Ethiopia">Ethiopia</option>
                                                        <option value="Fiji">Fiji</option>
                                                        <option value="Finland">Finland</option>
                                                        <option value="France">France</option>
                                                        <option value="Gabon">Gabon</option>
                                                        <option value="Gambia">Gambia</option>
                                                        <option value="Georgia">Georgia</option>
                                                        <option value="Germany">Germany</option>
                                                        <option value="Ghana">Ghana</option>
                                                        <option value="Greece">Greece</option>
                                                        <option value="Grenada">Grenada</option>
                                                        <option value="Guatemala">Guatemala</option>
                                                        <option value="Guinea">Guinea</option>
                                                        <option value="Guinea-Bissau">Guinea-Bissau</option>
                                                        <option value="Guyana">Guyana</option>
                                                        <option value="Haiti">Haiti</option>
                                                        <option value="Honduras">Honduras</option>
                                                        <option value="Hong Kong">Hong Kong</option>
                                                        <option value="Hungary">Hungary</option>
                                                        <option value="Iceland">Iceland</option>
                                                        <option value="India">India</option>
                                                        <option value="Indonesia">Indonesia</option>
                                                        <option value="Iran">Iran</option>
                                                        <option value="Iraq">Iraq</option>
                                                        <option value="Ireland">Ireland</option>
                                                        <option value="Israel">Israel</option>
                                                        <option value="Italy">Italy</option>
                                                        <option value="Jamaica">Jamaica</option>
                                                        <option value="Japan">Japan</option>
                                                        <option value="Jordan">Jordan</option>
                                                        <option value="Kazakhstan">Kazakhstan</option>
                                                        <option value="Kenya">Kenya</option>
                                                        <option value="Kiribati">Kiribati</option>
                                                        <option value="North Korea">North Korea</option>
                                                        <option value="South Korea">South Korea</option>
                                                        <option value="Kuwait">Kuwait</option>
                                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                        <option value="Laos">Laos</option>
                                                        <option value="Latvia">Latvia</option>
                                                        <option value="Lebanon">Lebanon</option>
                                                        <option value="Lesotho">Lesotho</option>
                                                        <option value="Liberia">Liberia</option>
                                                        <option value="Libya">Libya</option>
                                                        <option value="Liechtenstein">Liechtenstein</option>
                                                        <option value="Lithuania">Lithuania</option>
                                                        <option value="Luxembourg">Luxembourg</option>
                                                        <option value="Macedonia">Macedonia</option>
                                                        <option value="Madagascar">Madagascar</option>
                                                        <option value="Malawi">Malawi</option>
                                                        <option value="Malaysia">Malaysia</option>
                                                        <option value="Maldives">Maldives</option>
                                                        <option value="Mali">Mali</option>
                                                        <option value="Malta">Malta</option>
                                                        <option value="Marshall Islands">Marshall Islands</option>
                                                        <option value="Mauritania">Mauritania</option>
                                                        <option value="Mauritius">Mauritius</option>
                                                        <option value="Mexico">Mexico</option>
                                                        <option value="Micronesia">Micronesia</option>
                                                        <option value="Moldova">Moldova</option>
                                                        <option value="Monaco">Monaco</option>
                                                        <option value="Mongolia">Mongolia</option>
                                                        <option value="Montenegro">Montenegro</option>
                                                        <option value="Morocco">Morocco</option>
                                                        <option value="Mozambique">Mozambique</option>
                                                        <option value="Myanmar">Myanmar</option>
                                                        <option value="Namibia">Namibia</option>
                                                        <option value="Nauru">Nauru</option>
                                                        <option value="Nepal">Nepal</option>
                                                        <option value="Netherlands">Netherlands</option>
                                                        <option value="New Zealand">New Zealand</option>
                                                        <option value="Nicaragua">Nicaragua</option>
                                                        <option value="Niger">Niger</option>
                                                        <option value="Nigeria">Nigeria</option>
                                                        <option value="Norway">Norway</option>
                                                        <option value="Oman">Oman</option>
                                                        <option value="Pakistan">Pakistan</option>
                                                        <option value="Palau">Palau</option>
                                                        <option value="Panama">Panama</option>
                                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                                        <option value="Paraguay">Paraguay</option>
                                                        <option value="Peru">Peru</option>
                                                        <option value="Philippines">Philippines</option>
                                                        <option value="Poland">Poland</option>
                                                        <option value="Portugal">Portugal</option>
                                                        <option value="Puerto Rico">Puerto Rico</option>
                                                        <option value="Qatar">Qatar</option>
                                                        <option value="Romania">Romania</option>
                                                        <option value="Russia">Russia</option>
                                                        <option value="Rwanda">Rwanda</option>
                                                        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                                        <option value="Saint Lucia">Saint Lucia</option>
                                                        <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                                        <option value="Samoa">Samoa</option>
                                                        <option value="San Marino">San Marino</option>
                                                        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                                        <option value="Senegal">Senegal</option>
                                                        <option value="Serbia and Montenegro">Serbia and Montenegro</option>
                                                        <option value="Seychelles">Seychelles</option>
                                                        <option value="Sierra Leone">Sierra Leone</option>
                                                        <option value="Singapore">Singapore</option>
                                                        <option value="Slovakia">Slovakia</option>
                                                        <option value="Slovenia">Slovenia</option>
                                                        <option value="Solomon Islands">Solomon Islands</option>
                                                        <option value="Somalia">Somalia</option>
                                                        <option value="South Africa">South Africa</option>
                                                        <option value="Spain">Spain</option>
                                                        <option value="Sri Lanka">Sri Lanka</option>
                                                        <option value="Sudan">Sudan</option>
                                                        <option value="Suriname">Suriname</option>
                                                        <option value="Swaziland">Swaziland</option>
                                                        <option value="Sweden">Sweden</option>
                                                        <option value="Switzerland">Switzerland</option>
                                                        <option value="Syria">Syria</option>
                                                        <option value="Taiwan">Taiwan</option>
                                                        <option value="Tajikistan">Tajikistan</option>
                                                        <option value="Tanzania">Tanzania</option>
                                                        <option value="Thailand">Thailand</option>
                                                        <option value="Togo">Togo</option>
                                                        <option value="Tonga">Tonga</option>
                                                        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                        <option value="Tunisia">Tunisia</option>
                                                        <option value="Turkey">Turkey</option>
                                                        <option value="Turkmenistan">Turkmenistan</option>
                                                        <option value="Tuvalu">Tuvalu</option>
                                                        <option value="Uganda">Uganda</option>
                                                        <option value="Ukraine">Ukraine</option>
                                                        <option value="United Arab Emirates">United Arab Emirates</option>
                                                        <option value="United Kingdom">United Kingdom</option>
                                                        <option value="United States">United States</option>
                                                        <option value="Uruguay">Uruguay</option>
                                                        <option value="Uzbekistan">Uzbekistan</option>
                                                        <option value="Vanuatu">Vanuatu</option>
                                                        <option value="Vatican City">Vatican City</option>
                                                        <option value="Venezuela">Venezuela</option>
                                                        <option value="Vietnam">Vietnam</option>
                                                        <option value="Yemen">Yemen</option>
                                                        <option value="Zambia">Zambia</option>
                                                        <option value="Zimbabwe">Zimbabwe</option>
                                                    </select>
                                                    <div class="invalid-feedback" id="country-msg">
                                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CountryRequired")
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <fieldset class="form-label-group">
                                                    <input type="text" class="form-control" name="City" value="@Model.City" id="City" required autofocus="">
                                                    <label for="City">
                                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "City")
                                                    </label>
                                                    <div class="invalid-feedback">
                                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "CityRequired")
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <fieldset class="form-label-group">
                                                    <input type="text" class="form-control" name="StreetAddress" value="@Model.StreetAddress" id="StreetAddress" required="" autofocus="">
                                                    <label for="StreetAddress">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "StreetAddress")</label>
                                                    <div class="invalid-feedback">
                                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "StreetAddressRequired")
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <div class="col-sm-12">
                                                <fieldset class="form-label-group">
                                                    <input type="text" class="form-control mobile-input" name="Mobile" value="@Model.Mobile" id="Mobile" required="" autofocus="">
                                                    <label class="mobile-label" for="Mobile">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Mobile")</label>
                                                    <div class="invalid-feedback" id="mobile-msg">
                                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "InvalidMobile")
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-right">
                                                <hr />
                                                <button type="button" id="btn-save-account" class="btn btn-primary"><i class='far fa-save'></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Save")</button>
                                                <a id="btn-continue-verify-kyc" class="btn btn-success " asp-controller="Profile" asp-action="KYC"> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ContinueVerifyKYC")<i class="la la-angle-right la-button-size"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="card">
                    <div class="card-content">
                        <div class="card-body mt-2">
                            <div class="row">
                                <div class="col-md-2 col-12 text-center">
                                    <img src="~/images/avatar-1.jpeg" class="rounded-circle height-70" alt="@Model.FirstName @Model.LastName" />
                                </div>
                                <div class="col-md-10 col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <p class="text-uppercase mb-0"><a asp-controller="History" asp-action="Transaction">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Transactions") <i class="la la-mail-forward"></i></a></p>
                                            <p class="mb-0"><strong>@Model.NumberOfTransactions.ToString("N0")</strong></p>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <p class="text-uppercase mb-0"><a asp-controller="History" asp-action="Game">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GameHistory") <i class="la la-mail-forward"></i></a></p>
                                            <p class="mb-0"><strong>@Model.NumberOfGameHistories.ToString("N0")</strong></p>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row pt-1">
                                        <div class="col-md-6 col-sm-12">
                                            <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "FirstName")</p>
                                            <p>
                                                <strong>@Model.FirstName</strong>
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LastName")</p>
                                            <p>
                                                <strong>@Model.LastName</strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Gender")</p>
                                            @if (!Model.Gender.HasValue || Model.Gender.Value)
                                            {
                                                <p>
                                                    <strong>
                                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Male")
                                                    </strong>
                                                </p>
                                            }
                                            @if (Model.Gender.HasValue && !Model.Gender.Value)
                                            {
                                                <p>
                                                    <strong>
                                                        @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Female")
                                                    </strong>
                                                </p>
                                            }
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DOB")</p>
                                            <p>
                                                <strong>
                                                    @Model.DOB.Value.ToString("yyyy/MM/dd")
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PostalCode")</p>
                                                    <p><strong>@Model.PostalCode</strong></p>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Country")</p>
                                                    <p><strong>@Model.Country</strong></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "City")</p>
                                                    <p><strong>@Model.City</strong></p>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "StreetAddress")</p>
                                                    <p><strong>@Model.StreetAddress</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Mobile")</p>
                                            <p><strong>@Model.Mobile</strong></p>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Email")</p>
                                            <p><strong>@Model.Email</strong></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <p class="text-muted mb-3px font-size-13px">
                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TwoFactorAuthentication")
                                                @if (Model.TwoFactorAuthenticationEnable)
                                                {
                                                    <i class="fas fa-check-circle text-success"></i>
                                                }
                                                else
                                                {
                                                    <i class="far fa-times-circle text-danger font-small-1"></i>
                                                }
                                            </p>
                                            <p>
                                                <strong>
                                                    @Model.TwoFactorAuthenticationEnableStatus
                                                </strong>
                                                @if (!Model.TwoFactorAuthenticationEnable)
                                                {
                                                    @Html.Raw(LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ClickHereToEnableTwoFactor"))
                                                }
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <p class="text-muted mb-3px font-size-13px">
                                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYC")
                                                @if (!Model.KYCVerified.HasValue || Model.KYCVerified == false)
                                                {
                                                    <i class="far fa-times-circle text-danger font-small-1"></i>
                                                }
                                                else
                                                {
                                                    <i class="fas fa-check-circle text-success"></i>
                                                }
                                            </p>
                                            <p>
                                                <strong>@Model.KYCStatus</strong>
                                                @if (!Model.KYCVerified.HasValue)
                                                {
                                                    @Html.Raw(LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ClickHereToChange"))
                                                }
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHWalletAddress")</p>
                                            <p><strong>@Model.ETHHDWalletAddress</strong></p>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCWalletAddress")</p>
                                            <p><strong>@Model.BTCHDWalletAddress</strong></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-right">
                                            <hr />
                                            @if (!Model.KYCVerified.HasValue)
                                            {
                                                <a asp-controller="Profile" asp-action="Index" asp-route-edit="true" class="btn btn-primary"><i class='far fa-edit'></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Edit")</a>
                                            }
                                            else if (Model.KYCVerified == true)
                                            {
                                                <p class="text-danger text-left font-italic">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYCPendingNote")</p>
                                            }
                                            else
                                            {
                                                <p class="text-danger text-left font-italic">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYCVerifiedNote")</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/js/dashboard/plugins/switchery/switchery.min.js" type="text/javascript"></script>
    <script src="~/js/dashboard/plugins/intl-tel-input/js/intlTelInput.js"></script>
    <script src="~/js/dashboard/plugins/intl-tel-input/js/utils.js"></script>
    <script src="~/js/dashboard/plugins/moment.min.js"></script>
    <script src="~/js/dashboard/plugins/bootstrap-selectpicker.js"></script>
    <script src="~/js/dashboard/cpl.profile.js" asp-append-version="true"></script>
}
