@model ProfileViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Profile");
}
@section styles
    {
    <link rel="stylesheet" type="text/css" href="~/css/dashboard/plugins/switchery/switchery.min.css">
    <link rel="stylesheet" href="~/js/dashboard/plugins/intl-tel-input/css/intlTelInput.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dashboard/cpl.profile.css" asp-append-version="true" />
}
<div class="app-content container center-layout mt-2 px-0">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Profile")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Dashboard" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</a>
                            </li>
                            <li class="breadcrumb-item active">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Profile")
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-sm-6 col-12 d-none d-md-block d-lg-block d-xl-block">
                @await Component.InvokeAsync("Rate")
            </div>
            <div class="col-sm-6 col-12">
                @await Component.InvokeAsync("LotteryResult")
            </div>

        </div>*@
        <div class="content-body">
            <h6 class="my-2 text-uppercase">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MyProfile")</h6>
            <div class="card mb-3" id="profile-detail">
                <div class="card-content">
                    <div class="card-body mt-2">
                        <div class="row">
                            <div class="col-md-2 col-12 text-center">
                                <img src="~/images/avatar-1.jpeg" class="rounded-circle height-70" alt="@Model.FirstName @Model.LastName" />
                            </div>
                            <div class="col-md-10 col-12">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <p class="text-uppercase mb-0"><a asp-controller="History" asp-action="Transaction">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Transactions") <i class="la la-mail-forward"></i></a></p>
                                        <p class="mb-0"><strong>@Model.NumberOfTransactions.ToString("N0")</strong></p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p class="text-uppercase mb-0"><a asp-controller="History" asp-action="Game">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "GameHistory") <i class="la la-mail-forward"></i></a></p>
                                        <p class="mb-0"><strong>@Model.NumberOfGameHistories.ToString("N0")</strong></p>
                                    </div>
                                </div>
                                <hr />
                                <div class="row pt-1">
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "FirstName")</p>
                                        <p>
                                            <strong id="first-name-detail">@Model.FirstName</strong>
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "LastName")</p>
                                        <p>
                                            <strong id="last-name-detail">@Model.LastName</strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Gender")</p>
                                        @if (!Model.Gender.HasValue || Model.Gender.Value)
                                        {
                                            <p>
                                                <strong id="gender-detail">
                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Male")
                                                </strong>
                                            </p>
                                        }
                                        @if (Model.Gender.HasValue && !Model.Gender.Value)
                                        {
                                            <p>
                                                <strong id="gender-detail">
                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Female")
                                                </strong>
                                            </p>
                                        }
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "DOB")</p>
                                        <p>
                                            <strong id="dob-detail">
                                                @if (Model.DOB.HasValue)
                                                {
                                                    @Model.DOB.Value.ToString("yyyy/MM/dd")
                                                }
                                            </strong>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "PostalCode")</p>
                                                <p><strong id="postal-code-detail">@Model.PostalCode</strong></p>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Country")</p>
                                                <p><strong id="country-detail">@Model.Country</strong></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "City")</p>
                                                <p><strong id="city-detail">@Model.City</strong></p>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "StreetAddress")</p>
                                                <p><strong id="street-address-detail">@Model.StreetAddress</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Mobile")</p>
                                        <p><strong id="mobile-detail">@Model.Mobile</strong></p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Email")</p>
                                        <p><strong>@Model.Email</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-muted mb-3px font-size-13px">
                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "TwoFactorAuthentication")
                                            @if (Model.TwoFactorAuthenticationEnable)
                                            {
                                                <i class="fas fa-check-circle text-success"></i>
                                            }
                                            else
                                            {
                                                <i class="far fa-times-circle text-danger font-small-1"></i>
                                            }
                                        </p>
                                        <p>
                                            <strong>
                                                @Model.TwoFactorAuthenticationEnableStatus
                                            </strong>
                                            @if (!Model.TwoFactorAuthenticationEnable)
                                            {
                                                @Html.Raw(LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ClickHereToEnableTwoFactor"))
                                            }
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-muted mb-3px font-size-13px">
                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYC")
                                            @if (!Model.KYCVerified.HasValue || Model.KYCVerified == false)
                                            {
                                                <i class="far fa-times-circle text-danger font-small-1"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle text-success"></i>
                                            }
                                        </p>
                                        <p>
                                            <strong>@Model.KYCStatus</strong>
                                            @if (!Model.KYCVerified.HasValue)
                                            {
                                                @Html.Raw(LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ClickHereToChangeKYC"))
                                            }
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-muted mb-3px font-size-13px">
                                            @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Affiliate")
                                            @if (!Model.AffiliateId.HasValue || Model.AffiliateId.Value == (int)EnumAffiliateApplicationStatus.PENDING)
                                            {
                                                <i class="far fa-times-circle text-danger font-small-1"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-check-circle text-success"></i>
                                            }
                                        </p>
                                        <p>
                                            <strong>@Model.AffiliateStatus</strong>
                                            @if (!Model.AffiliateId.HasValue)
                                            {
                                                @Html.Raw(LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ClickHereToChangeAffiliate"))
                                            }
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="col-md-6 col-sm-12">
                                        <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "ETHWalletAddress")</p>
                                        <p><strong>@Model.ETHHDWalletAddress</strong></p>
                                    </div>*@
                                    <div class="col-md-6 col-sm-12">
                                        <p class="text-muted mb-3px font-size-13px">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BTCWalletAddress")</p>
                                        <p><strong>@Model.BTCHDWalletAddress</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <hr />
                                        @if (!Model.KYCVerified.HasValue)
                                        {
                                            <button id="btn-edit-profile" class="btn btn-primary"><i class='far fa-edit'></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Edit")</button>
                                        }
                                        else if (Model.KYCVerified == true)
                                        {
                                            <p class="text-danger text-left font-italic">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYCPendingNote")</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger text-left font-italic">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYCVerifiedNote")</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (!Model.AffiliateId.HasValue)
            {
                <div id="profile-affiliate">
                    <span class="h4">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BecomeAnAffiliate")</span>
                    <a asp-controller="Profile" asp-action="Affiliate" class="btn btn-primary btn-sm font-weight-bold font-medium-2">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Join")</a>
                </div>
            }
            <div class="card" id="profile-edit">
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/js/dashboard/plugins/switchery/switchery.min.js" type="text/javascript"></script>
    <script src="~/js/dashboard/plugins/intl-tel-input/js/intlTelInput.js"></script>
    <script src="~/js/dashboard/plugins/intl-tel-input/js/utils.js"></script>
    <script src="~/js/dashboard/plugins/moment.min.js"></script>
    <script src="~/js/dashboard/plugins/bootstrap-selectpicker.js"></script>
    <script src="~/js/dashboard/cpl.profile.js" asp-append-version="true"></script>
}
