@model KYCViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYC");
}
@section styles
    {
    <link href="~/css/dashboard/cpl.kyc.css" rel="stylesheet" asp-append-version="true" />
}
<div class="app-content container center-layout mt-2 px-0">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYC")</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Dashboard" asp-action="Index">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Dashboard")</a>
                            </li>
                            <li class="breadcrumb-item active">
                                @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYC")
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12 d-none d-md-block d-lg-block d-xl-block">
                @await Component.InvokeAsync("Rate")
            </div>
            <div class="col-sm-6 col-12">
                @await Component.InvokeAsync("LotteryResult")
            </div>
        </div>
        <div class="content-body">
            <h6 class="my-2 text-uppercase">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYCVerify")</h6>
            <div class="card">
                <div class="card-content">
                    <form id="form-edit-kyc" class="form-horizontal mt-2" action="">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2 col-12 text-center">
                                    <img src="~/images/avatar-1.jpeg" class="rounded-circle height-70" />
                                </div>
                                <div class="col-md-10 col-12">
                                    @if (!Model.KYCVerified.HasValue)
                                    {
                                    <div class="row mb-1" id="kyc-verify">
                                        <div class="text-muted col-sm-12">
                                            <p>
                                                @Html.Raw(LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYCWarning"))
                                                <br />
                                                <span id="kyc-message">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "MyIdentityDesc")</span>
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <fieldset class="form-group">
                                                <label for="FrontSideImage" class="mt-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "FrontSide")</label>
                                                <input id="FrontSideImage" type="file" value="@Model.FrontSideImage" class="form-control" name="FrontSideImage" required maxlength="30">
                                                <div class="invalid-feedback">
                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "FrontSideImageRequired")
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <fieldset class="form-group">
                                                <label for="BackSideImage" class="mt-0">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BackSide")</label>
                                                <input id="BackSideImage" type="file" value="@Model.BackSideImage" class="form-control" name="BackSideImage" required maxlength="30">
                                                <div class="invalid-feedback">
                                                    @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "BackSideImageRequired")
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    }
                                    else if (Model.KYCVerified.Value)
                                    {
                                        <div class="row mb-1 col-sm-12" id="kyc-verify">
                                            <p class="text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYCConfirmed")</p>
                                            <span class="badge badge-success h-50">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Verified")</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="row mb-1 col-sm-12" id="kyc-verify">
                                            <p class="text-muted">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYCReceived")</p>
                                            <span class="badge badge-info h-50">@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Pending")</span>
                                        </div>
                                    }
                                </div>
                            </div>
                            @if (!Model.KYCVerified.HasValue)
                            {
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <hr />
                                        <button type="button" id="btn-do-edit-kyc" class="btn btn-primary"><i class='far fa-save'></i> @LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Save")</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </form>
                    <div class="card-body" id="kyc-response" style="display:none;">
                        <div class="row">
                            <div class="col-md-2 col-12">
                                <img src="~/images/avatar-1.jpeg" class="rounded-circle height-70" @*alt="@Model.FirstName @Model.LastName" *@ />
                            </div>
                            <div class="col-md-10 col-12">
                                <p class='text-muted'>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "KYCReceived")<span class='badge badge-info h-50'>@LangDetailHelper.Get(Context.Session.GetInt32("LangId").Value, "Pending")</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script src="~/js/dashboard/cpl.kyc.js" asp-append-version="true"></script>
}
